<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Compandsave_MultipleCoupon>
            <version>0.0.1</version>
        </Compandsave_MultipleCoupon>
    </modules>
	<global>
		<models>
            <compandsave_multiplecoupon>
			    <class>Compandsave_MultipleCoupon_Model</class>
            </compandsave_multiplecoupon>
            <tax>
                <rewrite>
                    <sales_total_quote_tax>Compandsave_MultipleCoupon_Model_Sales_Total_Quote_Tax</sales_total_quote_tax>
                </rewrite>
            </tax>
            <checkout>
                <rewrite>
                    <cart>Compandsave_MultipleCoupon_Model_Cart</cart>
                </rewrite>
            </checkout>
            <sales>
                <rewrite>
                    <quote>Compandsave_MultipleCoupon_Model_Quote</quote>
                </rewrite>
            </sales>
        </models>
        <blocks>
            <compandsave_multiplecoupon>
                <class>Compandsave_MultipleCoupon_Block</class>
            </compandsave_multiplecoupon>
            <checkout>
                <rewrite>
                    <cart_shipping>Compandsave_MultipleCoupon_Block_Cart_Shipping</cart_shipping>
                </rewrite>
            </checkout>
        </blocks>

	</global>
    <frontend>
        <routers>
            <multiplecoupon>
                <use>standard</use>
                <args>
                    <module>Compandsave_MultipleCoupon</module>
                    <frontName>multiplecoupon</frontName>
                </args>
            </multiplecoupon>
        </routers>
    </frontend>
</config>