/************* CSS Header ******************************/
/*
Please refer to http://www.877ink.com/coding-standards.pdf for
the most up to date coding standards for TomatoInk.com
Author: Sam Chao

Created for Order Status page at TomatoInk.com

- General
- Left Column
- Right Column

Color Reference:
green: #4ca62e;
black: #333;

Naming convention: add ti_os_ prefix
 
*/
/*********************************************************/

/****Left Column****/

/****Right Column****/
