<?xml version="1.0" ?>
<config>
    <modules>
        <Compandsave_Catalog>
           <version>0.0.1</version>       
        </Compandsave_Catalog>
    </modules>
    <global>
    	<models>
    		<catalog>
    <rewrite>
        <convert_adapter_category>Compandsave_Catalog_Model_Convert_Adapter_Category</convert_adapter_category>
    </rewrite>
</catalog>
</models>
</global>

</config>