<?xml version="1.0" encoding="UTF-8"?>
    <config>
        <modules>
            <Compandsave_Orderfilter>
                <version>0.1.0</version>
            </Compandsave_Orderfilter>
        </modules>
        <global>
            <helpers>
                <orderfilter>
                    <class>Compandsave_Orderfilter_Helper</class>
                </orderfilter>
            </helpers>
            <models>
                <compandsaveorderfilter>
                    <class>Compandsave_OrderFilter_Model</class>
                </compandsaveorderfilter>
            </models>
            <!--<events>
                <sales_order_save_after>
                    <observers>
                        <compandsave_orderfilter>
                            <class>compandsave_orderfilter_Model_Observer</class>
                            <method>orderfilter</method>
                        </compandsave_orderfilter>
                    </observers>
                </sales_order_save_after>
            </events>-->
        </global>
    </config>