/************* CSS Header ******************************/
/*
Please refer to http://www.877ink.com/coding-standards.pdf for
the most up to date coding standards for TomatoInk.com
Author: Megan Prior-Pfeifer

Created for About Us page at TomatoInk.com

Color Reference:
green: #4ca62e;

Naming convention: add ti_au_ prefix
 
*/
/*********************************************************/

#ti_au_intro{
	margin:30px 0 0 100px;
	padding:20px 15px 20px 100px;
	width:680px;
}


#ti_au_tomato {
	position: absolute;
	z-index: 1;
	left: -100px;
	top: -10px;
}

#ti_au_wordsTwo {
	background: url('../../../images/articles/about-us/aboutus_wordsTwo.png') no-repeat; 
	width:341px; 
	height:60px; 
	display:block; 
}

div#content_Area img:first-child{
	display:none;
}

div#content_Area img:nth-child(1){
	display:none;
}

div#content_Area img:nth-of-type(1){
	display:none;
}