/************* CSS Header ******************************/
/*
Please refer to http://www.877ink.com/coding-standards.pdf for
the most up to date coding standards for TomatoInk.com
Author: Sam Chao
Updated: Megan Prior-Pfeifer 10-17-2014

Table of Contents:
1. Recaptcha

Created for article pages at TomatoInk.com

Color Reference:
green: #4ca62e;
 
*/
/*********************************************************/


/* -----------------------------------*/
/* -------->> 1. Receptcha <<<--------*/
/* -----------------------------------*/

.recaptcha_input_area input{
	border:1px solid #71b62f !important;
	font-size:1.6rem !important;
}

.recaptchatable{
	border:none !important;
}

.recaptchatable #recaptcha_image{
	border:none!important;
}