<?xml version="1.0"?>
<config>
    <modules>
        <Compandsave_Variable>           
            <version>0.0.4</version>
        </Compandsave_Variable>
    </modules>
    <global>
        <models>
            <compandsave_variable>
				<class>Compandsave_Variable_Model</class>
				<resourceModel>compandsave_variable_resource</resourceModel>
            </compandsave_variable>
            <compandsave_variable_resource>
				<class>Compandsave_Variable_Model_Resource</class>
                <entities>
                    <coupon>
                        <table>compandsave_variable_coupon</table>
                    </coupon>
                    <brand>
                        <table>compandsave_variable_brand</table>
                    </brand>
                    <productselectors>
                        <table>compandsave_variable_productselectors</table>
                    </productselectors>
                </entities>
            </compandsave_variable_resource>
        </models>
		<blocks>
            <compandsave_variable_adminhtml>
               <class>Compandsave_Variable_Block_Adminhtml</class>
            </compandsave_variable_adminhtml>
        </blocks>
		<helpers>
            <compandsave_variable>
                <class>Compandsave_Variable_Helper</class>
            </compandsave_variable>
        </helpers>
        <resources>
            <compandsave_variable_setup>
                <setup>
                    <module>Compandsave_Variable</module>
                    <class>Compandsave_Variable_Model_Resource_Setup</class>
                </setup>
            </compandsave_variable_setup>
        </resources>
    </global>
	<frontend>
    <routers>
        <compandsave_variable>
            <use>standard</use>
            <args>
                <module>Compandsave_Variable</module>
                <frontName>cronjob</frontName>
            </args>
        </compandsave_variable>
		</routers>  
	</frontend>
	<admin>
        <routers>
            <compandsave_variable_admin>
                <use>admin</use>
                <args>
                   <module>Compandsave_Variable_Adminhtml</module>
                    <frontName>coupon-admin</frontName>
                </args>
            </compandsave_variable_admin>
        </routers>
    </admin>
	<crontab>
        <jobs>
            <compandsave_variable>
                <schedule>
                    <cron_expr>* * * * * </cron_expr>
                </schedule>
                <run>
                    <model>compandsave_variable/observer::variable_static_code_insert</model>
                    <model>compandsave_variable/observer::productselector_json_code_insert</model>
                </run>
            </compandsave_variable>
        </jobs>
    </crontab>
</config>