/************* CSS Header ******************************/
/*
Please refer to http://www.877ink.com/coding-standards.pdf for
the most up to date coding standards for TomatoInk.com
Author: Megan Prior-Pfeifer

Created for Printer Support page at TomatoInk.com

Naming convention: add ti_ps_ prefix
 
*/
/*********************************************************/

.ti_ps_table p.icon-checkmark:before{
	margin-right:5px;
}

.ti_ps_table{
	border: 2px solid #f7e8db;
}

.ti_ps_table td{
	border-bottom: 1px solid #f7e8db;
}


@media only screen and (max-width : 767px) {
/* Styles */
	.ti_ps_table th,
	.ti_ps_table td{
		padding:5px;
	}

	.ti_ps_table th{
		display:none;
	}
}