/************* CSS Header ******************************/
/*
Please refer to http://www.877ink.com/coding-standards.pdf for
the most up to date coding standards for TomatoInk.com
Author: Megan Prior-Pfeifer

Table of Contents:
1. Global
	- Responsive
	- Text colors
2. Text
3. Elements
	- Inputs
	- Select
	- Social media
	- Lists
	- Images
	- Tables
4. Header
	- Navigation
	- Search
	- Coupon
5. Footer
6. Home Content
7. Block Content
	- Product
8. Responsive

Created for global css at TomatoInk.com

Color Reference:
dark-green: #31590b;
lt-green: #559a13;
orange: #e67921;
light orange: #fd8524;
light brown: #f7e8db;

Naming convention: add ti_cms_ prefix
 
*/
/*********************************************************/
* {
    margin: 0px;
    padding: 0px;
}

/* -- Clearfix --*/
.btcf:after {
            content:"";
            display:table;
            clear:both;
        }


/* -----------------------------------*/
/* -------->> 1. Global <<<-----------*/
/* -----------------------------------*/

html{font-size:62.5%;}
body  { background:#fff; font-size:10px; font:1rem/1.5 Verdana, Helvetica, sans-serif; color:#333; text-align:left; }
.clear {clear:both;}
.brder-lt{border-left:2px #ccc solid;}
.brder-rt{border-right:2px #ccc solid;}
.brder-all{border:2px #ccc solid;}
.ti_cms_contain{width:1000px;margin:auto;}
.block_center{margin:0 auto; display:block; float:none;}
.text_center{text-align:center;}
.text_left{text-align:left;}
.text_right{text-align:right;}
.ltWeight{font-weight:300;}

/*responsive*/
.one_third, .two_third,
.one_half, .one_fourth,
.three_fourth,
.one_fifth, .two_fifth,
.three_fifth, .four_fifth,
.one, .small_half {margin:0 auto;display:block;float:left;padding:1%;}
.one_third{width:31%;}
.one_third.middle{margin: 0 .5%;}
.two_third{width:64%;}
.one_half{width:48%;}
.one_fourth{width:23%;}
.three_fourth{width:73%;}
.one_fifth{width:18%;}
.two_fifth{width:38%;}
.three_fifth{width:58%;}
.four_fifth{width:78%;}
.one{width:100%; padding:0;}
.full{width:90%; padding-left:5%; padding-right:5%;}

/*text colors*/
.dgTxt{color:#31590b;}
.lgTxt{color:#559a13;}
.altTxt{color:#e67921;}
.white{color:#fff;}
.dark{color:#333;}
.ltAlt{color:#fd8524;}
.ltNeutral{color:#f7e8db;}

.ti_cms_gradient_block{
	background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 60%, #fff6ee 99%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(60%,#ffffff), color-stop(99%,#fff6ee)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 60%,#fff6ee 99%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #ffffff 60%,#fff6ee 99%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #ffffff 60%,#fff6ee 99%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #ffffff 60%,#fff6ee 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fff6ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	outline:1px solid #f7e8db;
	border-bottom: 7px solid #71b62f;
}

.ti_cms_border_block{
	background: #ffffff; /* Old browsers */
	outline:1px solid #71b62f;
	border-bottom: 7px solid #71b62f;
}

/* -----------------------------------*/
/* ---------->> 2. Text <<<-----------*/
/* -----------------------------------*/

h1, h2, h3, h4, h5, h6{
	font-family:'raleway';
	font-feature-settings: "lnum";-moz-font-feature-settings: "lnum";-webkit-font-feature-settings: "lnum";-ms-font-feature-settings: "lnum";-o-font-feature-settings: "lnum";
	margin:.5em 0;
}

h1 { 
	font-size:3.2em; 
	font-weight:bold;
}

h2 { 
	font-size:2.4em; 
	font-weight:normal; 
}

h3 { 
	font-size:2.0em;
	font-weight:bold;
}

h4 { 
	font-size:1.8em; 
	font-weight:bold;
}

h5 { 
	font-size:1.6em; 
	font-weight:bold;
}

h6 { 
	font-size:1.4em; 
	font-weight:bold; 
}

p {
	font-size:1.6em;
	margin:.5em 0;
	color:#333;
}

a { 
	text-decoration:none;
	border-bottom: 3px solid transparent;
	cursor:pointer;
	color:inherit;
}

a:hover{
	border-bottom: 3px solid #E67921;
	color:#000;
}

strong{
	font-weight:bold;
}

sup{
	vertical-align:text-top;
}

sub{
	vertical-align:text-bottom;
}

blockquote{
	text-align:left;
	padding: 10px 20px;
}

blockquote h2:before{
	content:'\201C';
	display:block;
	position:absolute;
	left: 5px;
	font-size: 5em;
	top: 0;
}

blockquote h2:after{
	content:'\201D';
	display:block;
	position:absolute;
	right: 5px;
	bottom: 0;
	font-size: 5em;
}


.ti_decor{
	border-bottom: 1px dotted rgb(204, 204, 204);
	color: rgb(153, 153, 153);
	font-weight: normal;
}

.ti_small_text{
	font-size:.8em;
}

.ti_green_head{
	text-align:center;
	color:#559a13;
	text-shadow: -.5px -.5px 0 #333, 1px 1px 0px #ECECEC;
	line-height:1em;
}

.ti_orange_head{
	text-align:center;
	color:#e67921;
	text-shadow: -.5px -.5px 0 #333, 1px 1px 0px #ECECEC;
	line-height:1em;
}

.ti_headerH1{
	font-size:3.2em; 
	font-weight:bold;
}


/* -----------------------------------*/
/* -------->> 3. Elements <<<---------*/
/* -----------------------------------*/

/* -- Inputs --*/
/* -------- Prefix: ti_input_ --------*/

.ti_input_barContainer{
  width:100%;
}

.ti_input_bar{
  border-radius:.25em;
  -moz-border-radius:.25em;
  -webkit-border-radius:.25em;
  -o-border-radius:.25em;
  margin:1% auto;
  padding:.5em;  
  position: relative;
  background:url('../images/ti-assets/paper-bg_559a13.jpg') repeat;
}


input, button,
input[type="button"],
input[type="submit"],
.ti_button,
textarea {
  font:300 2.4em/1em 'Raleway', Verdana, sans-serif;
  padding:10px 5px;
  margin:1%;
  max-width:100%;
  border-radius:.25em;
  -webkit-border-radius:.25em;
  -moz-border-radius:.25em;
  -o-border-radius:.25em;
  border:none;
  -webkit-appearance: none;
  vertical-align:middle;
  display:inline-block;
  box-sizing:border-box;
}

input[type="text"],
input[type="number"],
input[type="password"],
textarea {
  color:#559a13;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3) inset;
  cursor:text;
  border:1px solid #559a13;
  transition:color .4s;
  -webkit-transition:color .4s;
	font-family:'Raleway', Verdana, sans-serif;
	font-feature-settings: "lnum";
	-moz-font-feature-settings: "lnum";
	-webkit-font-feature-settings: "lnum";
	-ms-font-feature-settings: "lnum";
	-o-font-feature-settings: "lnum";
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #559a13;
    font-size:1.6em;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #559a13;
    opacity:  1;
    font-size:1.6em;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #559a13;
    opacity:  1;
    font-size:1.6em;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #559a13;
    font-size:1.6em;
}

input[type="submit"], 
input[type="button"], 
.ti_button, button {
  color:#fff;
  text-shadow:.5px .5px 1px rgba(0,0,0,.4);
  box-shadow: 3px 3px 3px rgba(0,0,0,.4);
  -webkit-text-shadow:3px 3px 3px rgba(0,0,0,.4);
  -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,.4);
  background: #e67921; 
  cursor:pointer;
  transition:background .4s;
  -webkit-transition:background .4s;
}

input[type="submit"].ti_altBtn, 
input[type="button"].ti_altBtn, 
.ti_button.ti_altBtn, button.ti_altBtn{
	background: #559a13; 
}

input[type="text"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
textarea:hover{
	color:#31590b;
}

input[type="submit"]:hover, button:hover,
.ti_button:hover{
	background: #fd8524;
	border:none;
	color:#fff;
}

input[type="submit"].ti_altBtn:hover, 
input[type="button"].ti_altBtn:hover, 
.ti_button.ti_altBtn:hover, button.ti_altBtn:hover{
	background: #31590b; 
}

.ti_input_bar input[type="text"],
.ti_input_bar input[type="number"],
.ti_input_bar input[type="password"]{
	width:60%;
}

.ti_input_bar input[type="submit"],
.ti_input_bar button{
	width:32%;
}

label span{
	font-size:2.4em;
	font-family:'raleway';
	font-feature-settings: "lnum";-moz-font-feature-settings: "lnum";-webkit-font-feature-settings: "lnum";-ms-font-feature-settings: "lnum";-o-font-feature-settings: "lnum";
	vertical-align:middle;
}

label.ti_cms_labelHide span{
	position:absolute;
	left:-9999999em;
}

input[type="checkbox"],
input[type="radio"]{
	display:inline-block;
	margin:0 5px;
	vertical-align:middle;
}

input[type="radio"]{
	border-radius: 10px;
	border: 5px solid #559a13;
	background: none;
	width: 5px;
	height: 5px;
	padding: 2px;
}

.ti-required-entry:before{
	content:"*";
	color:#e67921;
	position: absolute;
	font-size: 3.2em;
	margin-left: -20px;
	margin-top: 10px;
	}

.ti_button_large{
	font-size:2.8em;
	font-weight:bold;
	padding:1.5%;
}


/*--Select--*/
/* -------- Prefix: ti_select_ --------*/
select{
	font-family: 'Raleway',Verdana,sans-serif;
	background: none repeat scroll 0% 0% transparent;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3) inset;
	display: block;
	margin: 0;
	border: 0;
	color: #559A13;
	overflow: hidden;
	width: 115%;
	font-size: 1.6em;
	padding: 0;
	height:45px;
}

.ti_select_barContainer{
	margin: 0px auto;
	border: 1px solid #71b62f;
	width: 98%;
	background: url('../images/ti-assets/ti-select-arrow.jpg') no-repeat scroll 99% center #fff;
	padding: 0;
	overflow: hidden;
	font-size: 1.6em;
	border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
}

.ti_select_barContainerBorder{
	border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	position: relative;
	background: url('../images/ti-assets/paper-bg_559a13.jpg') repeat scroll 0% 0% transparent;
	overflow: hidden;
	margin: 0.5em auto;
	padding: .75em;
  }



/* -- Social Media --*/
/* -------- Prefix: ti_social_media_ --------*/

p.ti_social_media{
	text-align:center;
}

.ti_social_media_btn{
	width:42px;
	height:42px;
	margin:.5em 0;
	display:inline-block;
	cursor:pointer;
	background:url('../images/ti-assets/social-media.png');
}

.ti_social_media_btn span{
	margin-left:-9999em;
}

.fb{
	background-position: -1px -1px;
}

.tw{
	background-position: -45px -1px;
}

.bl{
	background-position: -91px -1px;
}

.pn{
	background-position: -136px -1px;
}

.gg{
	background-position: -181px -1px;
}


/* -- Lists --*/

ul, ol {
	font-size:1.6em;
}

ol{
	list-style: decimal;
	list-style-position: outside;
}

ol li{
	padding-left:15px;
}

ul>li{
	/*overflow:hidden;*/
}

ul.ti_bullet{
	margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;
}

ul.ti_bullet li:before { 
    content: "";
	display: block;
	height: 5px;
	width: 5px;
	left: -1em;
	top: 0.9em;
	background: #559a13;
	position: relative;
	border-radius: 5px;
}

.ti_menu>li{
	vertical-align:top;
    list-style:none;
    cursor:pointer;
    overflow:hidden;
    display:inline-block;
}

.ti_menu>li:hover{
    height:auto;
}

.ti_sub-menu{
    margin:0; 
    padding:0;
}
.ti_sub-menu>li{
    display:block;
    list-style:none;
    cursor:pointer;
}

.ti_menu a, .ti_sub-menu>li{
    display:block;
    text-decoration:none;
}

.ti_sub-menu>li:hover, .ti_menu a:hover{
	transition:text-decoration .4s; 
	-webkit-transition:text-decoration .4s; 
}

/* -- Images --*/

img{
	display:block;
}

/* -- Tables --*/

table{
	border:none;
	width:100%;
	border-collapse: collapse;
}
td, th{
	padding:10px 2px;
}

.data-table th {
	font-weight:bold;
	background:#559a13;
	font-size:1.4em;
	text-align:left;
	color:#fff;
	padding:10px;
}

.ti_cms_infoTable th{
	width:25%;
}

.ti_cms_infoTable tr:hover{
	background:#f7e8db;
}

.ti_cms_infoTable tr:hover th,
.ti_cms_infoTable tr:hover th h1,
.ti_cms_infoTable tr:hover th h2,
.ti_cms_infoTable tr:hover th h3,
.ti_cms_infoTable tr:hover th p{
	color:#e67921;
}

/* -- Icons --*/

@font-face {
	font-family: 'ti-icons';
	src:url('../fonts/ti-fonts/ti-icons.eot');
	src:url('../fonts/ti-fonts/ti-icons.eot') format('embedded-opentype'),
		url('../fonts/ti-fonts/ti-icons.woff') format('woff'),
		url('../fonts/ti-fonts/ti-icons.ttf') format('truetype'),
		url('../fonts/ti-fonts/ti-icons.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before, [class*=" icon-"]:before, 
[class^="icon-"]:after, [class*=" icon-"]:after {
		font-family: 'ti-icons';
}

.ti_product_cta .icon-ico-warranty:before,
.ti_product_cta .icon-ico-guarantee:before {
	font-size: 2.2em;
	position: absolute;
	margin-left: -1.25em;

}

.ti_product_cta .icon-angle-right:after{
	font-size: 2em;
	position: absolute;
	margin-left: .5em;
	margin-top: -.5em;
}

.icon-globe:before {
	content: "\f0ac";
}
.icon-truck:before {
	content: "\f0d1";
}
.icon-envelope:before {
	content: "\f0e0";
}
.icon-angle-left:before {
	content: "\f104";
}
.icon-angle-right:after {
	content: "\f105";
}
.icon-angle-up:before {
	content: "\f106";
}
.icon-angle-down:before {
	content: "\f107";
}
.icon-ico-warranty:before {
	content: "\e600";
}
.icon-ico-guarantee:before  {
	content: "\e601";
}
.icon-home:before {
	content: "\e604";
}
.icon-droplet:before {
	content: "\e605";
}
.icon-phone:before {
	content: "\e606";
}
.icon-print:before {
	content: "\e607";
}
.icon-bubbles:before {
	content: "\e602";
}
.icon-lock:before {
	content: "\e603";
}
.icon-leaf:before {
	content: "\e608";
}
.icon-happy:before {
	content: "\e609";
}
.icon-minus:before {
	content: "\e60a";
}
.icon-plus:before {
	content: "\e60b";
}


/* -----------------------------------*/
/* -------->> 4. Header <<<-----------*/
/* -----------------------------------*/
/* -------- Prefix: ti_header_ -------*/

#ti_header_row{
	width:100%;
	background:url("../images/ti-assets/fiber-bg_dark.jpg") repeat;
}

.ti_header_top_block, .ti_header_nav_block{
	width:50%;
	float:left;
	margin:2em auto;
}

.ti_header_nav_block{
	display:none;
	margin:.5em auto;
}

#ti_header_quick_links{
	width:100%;
	background:url("../images/ti-assets/paper-bg_31590b.jpg") repeat;
	color:#ffeddd;
	font-size:.8em;
}

#ti_header_quick_links .ti_header_top_block{
	margin:.5em auto;
}

.ti_header_top_block ul,
.ti_header_top_block ol{
	float:right;
	position:relative;
	font-size:1em;
	margin:.5em auto;
}

.ti_header_top_block ul li,
.ti_header_top_block ol li{
	display:inline-block;
	position:relative;
	margin:.5em auto;
}

.ti_header_top_block ul li:hover{

}

.ti_header_top_block > ul > li > a{
	font:bold 1.6em/1em 'Verdana';
	color:#ffeddd;
	text-decoration:none;
}

.ti_header_top_block > ul > li:after{
	display:inline-block;
	content:"|";
	margin:0 .6em;
	font-size:1.6em;
}

.ti_header_top_block ul li:last-child:after{
	display:none;
}

/* Navigation */
/* ------ Prefix: ti_header_nav_ -----*/

#ti_header_nav_main{
	display:block;
	margin:0 auto;
	width:100%;
	position:relative;
	background:url("../images/ti-assets/paper-bg_559a13.jpg") repeat;
	z-index:2;
}

#ti_header_nav_main ul{
	font-size:1em;
}

#ti_header_nav_main li{
	display:inline-block;
	list-style-type:none;
	padding:0 2em;
	position:relative;
}

#ti_header_nav_main li:first-child,
#ti_header_nav_main li.first{
	padding-left:0;
}
#ti_header_nav_main li:last-child,
#ti_header_nav_main li.last{
	padding-right:0;
}

#ti_header_nav_main li:hover,
#ti_header_nav_main li:active,
#ti_header_nav_main li:focus,
#ti_header_nav_main li:target{
	height:auto;
	overflow:visible;
}

#ti_header_nav_main li:hover ul.ti_cms_border_block,
#ti_header_nav_main li:active ul.ti_cms_border_block,
#ti_header_nav_main li:focus ul.ti_cms_border_block,
#ti_header_nav_main li:target ul.ti_cms_border_block{
	outline: 1px solid #71B62F;
}

#ti_header_nav_main .ti_menu li a span{
	color:#ffeddd;
	font-size:1.8em;
	text-shadow:1px 1px 0px #000;
	border-bottom:3px solid rgba(0,0,0,0);
	line-height: 2.5em;
}

#ti_header_nav_main li .ti_sub-menu{
	display:block;
	position:absolute;
	z-index:10;
	outline:0;
}

#ti_header_nav_main li .ti_sub-menu li{
	float:left;
	height:auto;
	padding:2%;
	margin:0;
}

.menu_three_col{
	width:330px;
}

.menu_two_col{
	width:220px;
}

.menu_one_col{
	width:110px;
}

.menu_three_col li{
	width:29%;
}

.menu_three_col li:nth-child(3n) {
	width:30%;
}

.menu_two_col li{
	width:46%;
}

.menu_one_col li{
	width:96%;
}

.ti_header_top_block p,
#ti_header_nav_main p{
	color:#f7e8db;
}

#ti_header_nav_main li .ti_sub-menu li{
	border-bottom:3px solid transparent;
}

#ti_header_nav_main li .ti_sub-menu li:hover{
	border-bottom:3px solid #e67921;
}

#ti_header_nav_main li .ti_sub-menu li a{
	display:block;
	border:none;
}

#ti_header_nav_main li .ti_sub-menu li a:hover{
	border:none;
}

#ti_header_nav_main li .ti_sub-menu li a span{
	font-size:1.2em;
	color:#333;
	line-height:1em;
	text-shadow:none;
	border:none;
}

/* Nav Mini */
#ti_header_nav_mini, #ti_header_search_mini{
	display:block;
	overflow:hidden;
	margin:0 auto;
	height:25px;
	position:relative;
	left:10px;
	float:left;
	transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-webkit-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
}

#ti_header_nav_mini{
	background:url("../images/ti-assets/mini-nav-drop.png") -45px 0 no-repeat transparent;
	width:100px;
}

#ti_header_nav_mini select{
	float:left;
	height:25px;
	margin-left:250px;
	width:230px;
	box-shadow:none;
	-webkit-appearance:none;
	padding:1% 0 1% 45px;
	color:transparent;
	transition:color .6s ease-in-out;
	-moz-transition:color .6s ease-in-out;
	-webkit-transition:color .6s ease-in-out;
	-o-transition:color .6s ease-in-out;
}

#ti_header_search_mini input{
	font-size:1.4em;
	box-shadow:none;
	padding:0;
	margin:0;
	float:left;
	height:25px;
	color:#559a13;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}

#ti_header_search_mini input[type="text"]{
	width:0;
	border:none;
	transition:all .6s ease-in-out;
	-webkit-transition:all .6s ease-in-out;
	-moz-transition:all .6s ease-in-out;
	-o-transition:all .6s ease-in-out;
}

#ti_header_nav_mini:hover{
	background:url("../images/ti-assets/mini-nav-drop.png") 3px 0 no-repeat #fff;
	width:180px;
}

#ti_header_search_mini input[type="submit"]{
	background:url("../images/ti-assets/mini-search-slide.png") 0 0 no-repeat transparent;
	width:118px;
	padding:0;
	font-size:0;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	transition:width .6s ease-in-out, background .6s ease-in-out;
	-moz-transition:width .6s ease-in-out, background .6s ease-in-out;
	-webkit-transition:width .6s ease-in-out, background .6s ease-in-out;
	-o-transition:width .6s ease-in-out, background .6s ease-in-out;
}

#ti_header_search_mini:hover input[type="submit"],
#ti_header_search_mini:focus input[type="submit"],
#ti_header_search_mini:active input[type="submit"],
#ti_header_search_mini input[type="text"]:focus input[type="submit"],
#ti_header_search_mini input[type="text"]:hover input[type="submit"],
#ti_header_search_mini input[type="text"]:active input[type="submit"],
#ti_header_search_mini input[type="text"]:enabled input[type="submit"]{
	width:30px;
	background:url("../images/ti-assets/mini-search-slide.png") -90px 0 no-repeat transparent;
}

#ti_header_nav_mini:hover select,
#ti_header_nav_mini select:focus{
	margin-left:0;
	color:#559a13;
}

#ti_header_search_mini:hover input[type="text"],
#ti_header_search_mini input[type="text"]:focus,
#ti_header_search_mini input[type="text"]:hover{
	width:180px;
}

#ti_header_quick_links ul li{
	overflow:visible;
}

.ti_cms_dropContent{
	display:none;
	z-index: 1000;
	position: absolute;
	min-width: 200px;
	color: #333;
	padding:20px 5px 5px;
	left: 50%;
	margin-left: -100px;
}

.ti_cms_dropContent:after {
  	width: 0px;
	height: 0px;
	position: absolute;
	border-style: solid;
	border-width: 10px;
	border-color: transparent transparent #E67921;
	content: "";
	top: 0; 
	left: 50%;
	margin-left: -5px;
}

.ti_cms_dropContent ul{
	float:left;
}

.ti_cms_dropContent ul li{
	margin:0;
	clear:both;
	padding:1%;
}

.ti_cms_dropContent a,
.ti_cms_dropContent p,
.ti_cms_dropContent li {
	font-size:1.2em;
	text-decoration:none;
}

.ti_cms_dropContent a{
	border-bottom: 3px solid transparent;
}

.ti_cms_dropContent a:hover{
	border-bottom: 3px solid #E67921;
}

.ti_cms_dropContent p{
	color:#333;
	font-size:1.6em;
}

.ti_cms_dropContent img{
	width:100%;
}

.ti_cms_dropContent .ti_button,
.ti_cms_dropContent input{
	box-shadow:none;
	text-shadow:none;
}

/* Search */
#ti_header_mainSearch{
	display:block;
	position:absolute;
	z-index:5;
	top:15em;
	left:50%;
	margin-left:-30%;
	width:55%;
}

#ti_header_site_search{
	background:none;
	padding-bottom:0;
}

#ti_header_site_search ul li{
	margin-top:0;
}

#ti_header_searchHelp{
	float:none;
	margin: 0px 1em -1em;
}

#ti_header_searchHelpDrop{
	width:400px;
	margin-left:-200px;
}

/* Splash banner */
#ti_header_imageSplash{
	width:100%;
	overflow:hidden;
	position:relative;
    border-bottom:7px solid #559a13;
	z-index: 1;
}

/* Coupon */

#ti_main_coupon{
	border:5px solid #e67921;
	border-radius:0 0 10px 10px;
	background:#fff;
	width: 210px;
	min-width: 210px !important;
	position: absolute;
	z-index: 10;
	margin: -10px 50% 0px;
	min-height: 45px;
	text-align: center;
	left: -115px;
	box-shadow:0 3px 3px rgba(70,37,10,.4);
	padding:0 0 10px;
}

#ti_main_coupon_arrow{
	display: block;
	background: url(../images/ti-assets/header-coupon-arrow.png) center top no-repeat;
	content: "";
	width: 36px;
	height: 33px;
	position: absolute;
	left: 50%;
	margin-left: -18px;
	bottom: -25px;
	cursor:pointer;
}

#ti_header_click_coupon,
#ti_header_coupon_desc{
	font:300 16px/1em 'Raleway', Verdana, sans-serif;
	font-feature-settings: "lnum";
	-moz-font-feature-settings: "lnum";
	-webkit-font-feature-settings: "lnum";
	-ms-font-feature-settings: "lnum";
	-o-font-feature-settings: "lnum";
	color:#e67921;
	margin-top:.5em;
}
#ti_header_click_coupon span{
	font:24px/1em 'Oleo Script', 'Raleway',serif;
	color:#559a13;
	font-feature-settings: "lnum";
	-moz-font-feature-settings: "lnum";
	-webkit-font-feature-settings: "lnum";
	-ms-font-feature-settings: "lnum";
	-o-font-feature-settings: "lnum";
}

#ti_header_coupon_code{
	font:bold 24px/1em 'Raleway',serif;
	color:#559a13;
	line-height:1.3;
	font-feature-settings: "lnum";
	-moz-font-feature-settings: "lnum";
	-webkit-font-feature-settings: "lnum";
	-ms-font-feature-settings: "lnum";
	-o-font-feature-settings: "lnum";
}

#ti_header_coupon_desc,
#ti_secondary_coupon
{
	display:none;
}


#ti_header_nav_main p{
	text-align:center;
}

.ti_secondary_coupon_code{
	color:#fff;
	text-shadow:1px 1px 0px #000;
}

/* -----------------------------------*/
/* --->> 5. Cart and Checkout <<<-----*/
/* -----------------------------------*/ 

ul.ti_cart_review{
	margin:0;
	padding:0;
}

ul.ti_cart_review li{
	display:inline-block;
	vertical-align:middle;
	margin:0;
	margin-right:2em;
}

ul.ti_cart_review li:last-child{
	margin:0;
}

.ti_table_productName{
	width:60%;
}

.ti_cart_qty{
	width:12%;
}

.ti_cart_qty input{
	float:left;
}

.ti_cart_image, .ti_cart_desc{
	float:left;
	margin:0;
	display:block;
} 

.ti_cart_image{
	width:25%;
}

.ti_cart_desc{
	width:75%;
}

.ti_cart_image img{
	width:100%;
}

.ti_cart_total {
	background: #559a13;
}

.ti_cart_thumbRelate{
	outline:2px solid #559a13;
	width:100%;
}

.ti_cart_ship_option{
	width:96%;
	margin:4% auto;
}

.ti_cart_zip{
	width:98%;
	margin:0 0 2em 0;
	padding:5px 1%;
	border-radius:.25em;
	-moz-border-radius:.25em;
	-webkit-border-radius:.25em;
}

.ti_cart_relateBlock p{
	margin:0;
}

/* Firecheckout */

.ti_checkout_info{
	width:96%;
	margin:1% 2%;
}

.ti_checkout_half{
	width:44%;
	float:left;
	margin:1%;
}

#ti_checkout_BillingInfo > .one_half > .ti_checkout_half:first-of-type,
.one > .one_third > .one > .ti_checkout_half:first-of-type{
	margin-right:8%;
}

.ti_checkout_list{
	font-family:'Raleway', sans-serif;
}

.ti_checkout_list li{
	display:block;
	clear:both;
	margin:.5em auto;
}

.ti_checkout_list input[type="radio"]{
	border-radius:10px;
	border:5px solid #559a13;
	background:none;
	width:10px;
	height:10px;
}

.ti_checkout_list .ti_select_barContainer{
	font-size:1.6rem;
	width:80%;
	margin:0;
	display: inline-block;
	vertical-align: middle;
}

.ti_checkout_list .ti_select_barContainer select{
	font-weight:300;
}

.icon-lock.ti_checkout_secure{
	font-size: 5em;
}

.ti_checkout_comments {
	resize:none;
	width:100%;
	font-size:1.6em;
	margin:0;
}


.ti_checkout_credit{
	width:46px;
	height:30px;
	display:inline-block;
	vertical-align:middle;
	opacity:.6;
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	-o-border-radius:8px;
	border:3px solid transparent;
}

.ti_checkout_credit:hover{
	opacity:1;
	border:3px solid #559a13;
}

.ti_checkout_credit.paypal{
	background:url("../images/ti-assets/paypal_48.png") no-repeat center;
}

.ti_checkout_credit.google{
	background:url("../images/ti-assets/google_48.png") no-repeat center;
}

.ti_checkout_credit.mastercard{
	background:url("../images/ti-assets/mastercard_48.png") no-repeat center;
}

.ti_checkout_credit.visa{
	background:url("../images/ti-assets/visa_48.png") no-repeat center;
}

.ti_checkout_credit.discover{
	background:url("../images/ti-assets/discover_48.png") no-repeat center;
}

.ti_checkout_credit.amex{
	background:url("../images/ti-assets/amex_48.png") no-repeat center;
}

/* -----------------------------------*/
/* -------->> 6. Footer <<<-----------*/
/* -----------------------------------*/
/* -------- Prefix: ti_footer_ -------*/

#ti_footer_row{
	background:url("../images/ti-assets/paper-bg_2e1e11.jpg") repeat;
}

.ti_footer_block{
	width:50%;
	float:left;
	margin:1em auto;
}

.ti_footer_links_block ul{
	font-size:.8em;
}

#ti_footer_row li,
#ti_footer_row p,
#ti_footer_row a{
	color:#eee;
}

#ti_footer_row a:hover{
	color:inherit;
}

.ti_footer_links_block h2{
	color:#559a13;
	text-shadow:1px 1px 0 #333;
}

.ti_footer_links_block ul.ti_menu li{
	width:48%;
	margin:1%;
	float:left;
	font-size: 1.6em;
}

#ti_footer_copyright_row{
	font-size:.8em;
	background:#fff;
}

#ti_footer_email_cta{
	font:bold 1.2em/1.5em'Raleway',Verdana,sans-serif;
}

.ti-footer-security{
	float:right;
	display:inline-block;
}

/* -----------------------------------*/
/* ------>> 7. Home Content <<<-------*/
/* -----------------------------------*/
/* ------- Prefix: ti_cms_home_ ------*/

.ti_cms_home_block{
	width: 28%;
	margin-bottom:20px;
	outline:none;
	border:1px solid #f7e8db;
	border-bottom: 7px solid #71b62f;
	padding:20px;
	text-align:center;
}

.ti_cms_home_block img{
	max-width:80%;
	margin:0 auto;
}

#ti_header_home_email{
	background:none;
	margin:1em auto;
	width:100%;
}

#ti_cms_home_container{
	background:url("../images/ti-assets/fiber-bg_light.jpg");
}

#ti_site_block{
	display:none;
}

/* -----------------------------------*/
/* ------>> 8. Block Content <<<------*/
/* -----------------------------------*/
/* --------- Prefix: ti_cms_ ---------*/

#ti_header_breadcrumbs{
	padding:15px 0;
}

.ti_cms_block_headerBar-green{
	padding:0 5px;
	background:url("../images/ti-assets/paper-bg_559a13.jpg") repeat;
	clear:both;
}

.ti_cms_block_headerBar-orange{
	padding:0 5px;
	background:url("../images/ti-assets/paper-bg_e67921.jpg") repeat;
	clear:both;
}

.ti_block_inner{
	padding:8px;
}

.ti_cms_block_related,
.ti_cms_block_grid,
.ti_cms_block_brandVA,
.ti_cms_block_brandVB{
	text-align:center;
	width: 23%;
	margin:1%;
	padding:0;
	float:left;
}

.ti_cms_block_related img,
.ti_cms_block_grid img,
.ti_cms_block_brandVA img,
.ti_cms_block_brandVB img{
	max-width: 95%;
	margin: 5px auto;
	max-height: 200px;
}

.ti_cms_block_qty{
	font:1.2em/1.5em 'Raleway', Verdana, sans-serif;
	font-feature-settings: "lnum";
	-moz-font-feature-settings: "lnum";
	-webkit-font-feature-settings: "lnum";
	-ms-font-feature-settings: "lnum";
	-o-font-feature-settings: "lnum";
}

.ti_cms_block_qty input{
	display:inline;
	width:auto;
	font:1em/1em 'Raleway', Verdana, sans-serif;
}

.ti_cms_block_qty input[type="text"],
.ti_cms_block_qty input[type="number"]{
	width:30px;
}

.ti_cms_separator{
	height:4px;
	margin:1em auto;
	background:#559a13;
	display:inline-block;
	width:100%;
	clear:both;
}

.ti_cms_block_gutter{
	width:1%;
}

/* Brand blocks */

.ti_cms_block_brandVA a{
	text-decoration:none;
}

.ti_cms_block_brandVA a p span{
	text-decoration:none;
	border-bottom: 3px solid transparent;
}

.ti_cms_block_brandVA a:hover p span{
	text-decoration:none;
	border-bottom: 3px solid #E67921;
}

.ti_cms_block_brandVB{
	opacity:0.8;
}

.ti_cms_block_brandVB .ti_cms_border_block:hover{
	opacity:1;
	outline:5px solid #71b62f;
}

/* Products */
/* ------- Prefix: ti_product_ -----*/

.ti_product_image,
.ti_printer_image{
	width:80%;
}

.ti_product_thumb{
	outline:1px solid #559a13;
	width:100%;
	opacity:.8;
}

#ti_product_stockAlert{
	margin-left:2.5em;
}

.ti_product_thumb:active,
.ti_product_thumb:focus,
.ti_product_thumb:hover{
	outline:3px solid #559a13;
	opacity:1;
}

.ti_product_infoBlock{
	text-align:center;
	margin-top:1em;
}

.ti_product_infoBlock h1,
.ti_product_infoBlock h5{
	margin:0;
	line-height: 1.1em;
}

ul.ti_product_checklist{
	list-style:url('../images/ti-assets/checkmark.png');
}

.ti_product_checklist li{
	text-align:left;
    margin-left: 30px;
}

#ti_product_ourPrice {
	margin: 0;
}

#ti_product_brandPrice{
	text-decoration: line-through;
}

#ti_product_qtyDiscount{
	font-family:'Raleway', Verdana, sans-serif;
	font-feature-settings: "lnum";
	-moz-font-feature-settings: "lnum";
	-webkit-font-feature-settings: "lnum";
	-ms-font-feature-settings: "lnum";
	-o-font-feature-settings: "lnum";
	list-style: none;
}

#ti_product_qtyDiscountDrop{
	margin-left:-50px;
}

#ti_product_qtyDiscountDrop p{
	font-size:.9em;
	text-align:left;
	font-family:'Raleway', Verdana, sans-serif;
	font-feature-settings: "lnum";
	-moz-font-feature-settings: "lnum";
	-webkit-font-feature-settings: "lnum";
	-ms-font-feature-settings: "lnum";
	-o-font-feature-settings: "lnum";
	line-height:1em;
}

#ti_product_qtyDiscountDrop table{
	border:none;
	width:100%;
}

#ti_product_qtyDiscountDrop td{
	width:48%;
	padding:0 1%;
}

.ti_product_cta{
	width:50%;
	float:left;
	margin:.5em auto;
}

/* Product Ratings*/
.ti_product_rating{
	width:83px;
	height:19px;
	background:url("../images/ti-assets/star-rating.png") no-repeat;
	display:inline-block;
	vertical-align:middle;
	margin-right:5px;
}

.star0 {background-position: 0 0;}
.star0_5 {background-position: 0px -18px;}
.star1 {background-position: 0px -36px;}
.star1_5 {background-position: 0px -54px;}
.star2 {background-position: 0px -72px;}
.star2_5 {background-position: 0px -90px;}
.star3 {background-position: 0px -108px;}
.star3_5 {background-position: 0px -126px;}
.star4 {background-position: 0px -144px;}
.star4_5 {background-position: 0px -162px;}
.star5 {background-position: 0px -180px;}

/* Printer Page */
.ti_printer_sortBlock{
	margin:0 0 1em;
	padding:0;
}

.ti_sort_block{
	display:inline-block;
	margin:auto 1em;
	vertical-align:middle;
}

.ti_sort_block h2{
	margin:0;
}

#ti_list_pagination{
	list-style:none;
}

#ti_list_pagination li{
	display:inline-block;
	margin:.5em 0;
}

#ti_select_productSort{
	width: 220px;
}

#ti_select_productSortLimit{
	width:120px;
}

.ti_sort_multiple button.ti_button_large {
	float:right;
}

/* List View */

.ti_cms_block_list{
	margin-bottom:1em;
}

.ti_cms_block_list .ti_product_blockImg{
	width:20%;
	float:left;
}

.ti_cms_block_list .ti_product_blockImg img{
	margin:0 auto;
}

.ti_cms_block_list .ti_product_blockPrice{
	width:40%;
	float:left;
}

.ti_cms_block_list .ti_product_blockPrice h3{
	font-size:3.2em;
	line-height: 1em;
	margin: 1em auto 0;
}

.ti_cms_block_list .ti_product_blockPrice h5{
	font-weight:normal;
}

.ti_cms_block_list .ti_product_blockQty{
	width:40%;
	float:left;
}

.ti_cms_block_list .ti_product_blockQty p{
	font-size:2.4em;
}

.ti_cms_block_list .ti_product_blockQty input[type='text']{
	width:80px;
}

/* Grid View */

.ti_cms_block_grid h5{
	display:none;
}

/* -----------------------------------*/
/* -------->> 9. Responsive <<<-------*/
/* -----------------------------------*/

@media only screen and (max-width : 999px) {
/* Styles */

	body  { 
		font-size:9px;
		font-size:.9rem
	}

	.ti_cms_contain{
		width:790px;
		min-width:790px;
	}

	#ti_header_logo{
		margin:1em 0;
	}

	#ti_header_row,
	#ti_footer_row{
		min-width:800px;
	}

	#ti_header_mainSearch .ti_input_barContainer{
		background:none;
		box-shadow:none;
		-webkit-box-shadow:none;
	}

	#ti_header_nav_main li{
		padding:0px 1.4em;
	}

	.ti_header_top_block,
	.one_fifth, .two_fifth, .three_fifth, .four_fifth{
		margin:0 1%;
		width:48%;
	}

	#ti_header_quick_links .ti_header_top_block{
		width:100%;
		margin:0;
	}

	.ti_header_top_block{
		margin: 1em 0 0;
	}

	.ti_logo_bar{
		max-width:50%;
		float:left;
	}

	.ti_cms_home_block{
		width:44%;
	}

	.ti_header_top_block ul{
		float:left;
	}

	#ti_header_searchHelp {
	    margin: 0px 1em;
	}

	.ti_cms_dropContent{
		left:0;
		margin-left:0;
	}

	.ti_cms_dropContent:after{
		left:10%;
	}

	#ti_product_qtyDiscountDrop{
		left:50%;
		margin-left:-50px;
	}

	#ti_product_qtyDiscountDrop:after,
	#ti_header_searchHelpDrop:after{
		left:50%;
		margin-left:-5px;
	}

	#ti_header_searchHelpDrop{
		left:50%;
	}

	#ti_main_coupon{
		left:auto;
		right:0;
		margin-right:auto;
		margin-left:auto;
	}

	.ti_hide_999{
		display:none;
	}

	.ti_footer_top_block .two_third,
	.ti_footer_top_block .one_third{
		width:100%;
	}

}

@media only screen and (max-width : 999px) and (min-width: 768px) {
/* Styles */
	.two_third .ti_product_cta{
		font-size:8px;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

	#ti_header_imageSplash{
		min-width:800px;
	}

	#ti_header_row, #ti_footer_row, #ti_cms_home_container, #ti_footer_copyright_row{
		min-width:800px;
	}

}

@media only screen and (max-width : 767px) {
/* Styles */

	.ti_cms_contain{
		width:600px;
		min-width:600px;
	}

	#ti_header_row,
	#ti_footer_row{
		min-width:600px;
	}

	.ti_header_top_block,
	#ti_header_quick_links .ti_header_top_block{
		margin:0;
		width:100%;
		text-align:center;
	}

	.ti_header_top_block ul{
		float:none;
		margin:0 auto;
	}

	.ti_header_nav_block{
		display:block;
		overflow:hidden;
		width:48%;
		margin:1%;
	}

	#ti_main_coupon{
		z-index:3;
		top:95px;
	}

	#ti_header_quick_links{
		z-index:10;
		position:relative;
	}

	.one_fourth, .three_fourth{
		margin:0 1%;
		width:48%;
	}

	.one_third, .two_third,
	.one_half, .one_third.middle,
	.one_fifth, .two_fifth,
	.three_fifth, .four_fifth,
	#ti_footer_email_cta.three_fourth,
	#ti_footer_email_cta.one_fourth,
	.ti_footer_top_block .three_fourth,
	.ti_footer_top_block .one_fourth {
		width:98%;
		margin: 0 auto 15px;
	}

	.ti_cart_relateBlock.one_third { width:31%;margin:0 auto;}
	.ti_cart_relateBlock.two_third { width:64%;margin:0 auto;}
	.discount-form .one_half{width:48%;margin:0 auto;}

	#ti_cms_home_container{
		background:none;
	}

	.ti_cms_home_block{
		width:42%;
	}

	.ti_cms_block_brandVA,
	.ti_cms_block_brandVB,
	.one_half.ti_product_infoBlock{
		width:47%;
	}

	.ti_select_barContainerBorder:last-child{
		margin-right:0;
	}

	.ti_cms_block_related img{
		max-height:150px;
	}

	.sorter .view-mode{
		text-align:center;
	}

	.ti_printer_sortBar button.ti_button_large{
		float:none;
		display:block;
		margin:0 auto;
	}

	.ti_product_image{
		width:60%;
		padding:3%;
		float:left;
	}

	.ti_product_thumb_block{
		width:34%;
		float:left;
	}

	.menu_two_col, .menu_three_col {
	    width: 110px;
	}

	.menu_two_col li,
	.menu_three_col li {
	    width: 98%;
	}

	.ti_cms_dropContent{
		min-width:0px;
	}

	.cart .checkout-types{
		display:block;
		float:none;
	}

	.button.btn-continue{
		float:none;
	}

	#ti_product_qtyDiscountDrop{
		left:0;
		margin-left:50px;
	}

	#ti_footer_email_cta{
		text-align:center;
	}

	.ti_footer_links_block ul.ti_menu li{
		width:25%;
	}

	.ti_hide_767{
		display:none;
	}

}

@media only screen and (max-width : 479px) {
/* Styles */
	
	body  { 
		font-size:9px;
		font-size:.9rem
	}

	.one_fourth, .three_fourth,
	.ti_cms_block_related,
	.ti_cms_block_grid,
	.ti_cms_block_brandVA,
	.ti_cms_block_brandVB{
		width:98%;
		margin: 0 auto 15px;
	}

	/*.one_fourth, .three_fourth,
	.ti_cms_block_related,*/
	.ti_product_thumb_block.one_fourth{
		width:48%;
	}

	.ti_cms_home_block{
		width:94%;
	}

	.ti_cms_contain{
		width:370px;
		min-width:370px;
	}

	#ti_header_row,
	#ti_footer_row{
		min-width:380px;
	}

	#ti_header_logo{
		max-width:220px;
		margin:.7em auto;
	}

	.ti_logo_bar{
		width:100%;
		float:none;
		max-width:auto;
		margin:0 auto;
	}

	#ti_header_quick_links{
		z-index: 20;
		position: relative;
	}

	.ti_footer_links_block ul.ti_menu li{
		width:50%;
	}

	#ti_secondary_coupon{
		display:block;
		font-size:1.2em;
		margin-top:0;
	}

	.ti_sort_multiple button.ti_button_large{
		display:block;
		margin:0 auto;
		float:none;
	}

	.ti_cart_image{
		display:none;
	}

	.ti_cart_desc{
		width:100%;
	}


	.ti_hide_479, .ti_product_cta .icon-ico-warranty:before,
	.ti_product_cta .icon-ico-guarantee:before,
	.ti_product_cta .icon-angle-right:after{
		display:none;
	}

	.ti_show_479{
		display:block;
	}


}

/* iPhone 5 (portrait & landscape)----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {

	#ti_header_row, #ti_footer_row, #ti_cms_home_container, #ti_footer_copyright_row{
		min-width:568px;
	}
}
