/************* CSS Header ******************************/
/*
Please refer to http://www.877ink.com/coding-standards.pdf for
the most up to date coding standards for TomatoInk.com
Author: Sam Chao

Table of Contents:
1. Global

Created for article pages at TomatoInk.com

Color Reference:
green: #4ca62e;
 
*/
/*********************************************************/

/* -----------------------------------*/
/* -------->> 1. Global <<<-----------*/
/* -----------------------------------*/

.ti_al_colHeight {
	height:360px;
	position:relative;
}
.ti_al_btnPosition {
	position:absolute;
	bottom:0;
	right:15px;
}