.reviews-wrapper {}
.reviews-container {}
.reviews-container #customer-reviews { margin-top: 10px; }
#imageLoading, .imageLoading {display:none;position:fixed;width:100%;height:100%;left:0;top:0;text-align:center;margin: 300px auto;z-index:9999;}

p.error-message { color: red; }
.review-top { overflow: hidden; }
.review-top h4 { clear: both; }
.review-top .review-average-info {margin-bottom: 14px; }
.review-top .button-write-review,
.review-top .average-rating {}
.review-top .average-rating { float: left; height: 73px; }
.review-top.no-reviews .button-write-review { border-right: none; width: 100%;  }
.review-top .button-write-review {}
.review-top .button-write-review .error { font-size: 14px; }
.review-top .average-sizing-box { width: 25%; height: 73px; padding-left: 15px; overflow: hidden; float:right; }
.review-top .button-write-review .review-dialog { }
.review-top .search-review-button {}
.review-top.no-reviews  .button-write-review .review-dialog { margin: 10px 0; }
.review-top .average-rating { width: 35%;  padding: 0 10px; text-align:center; }
.review-top .average-caption { font-size: 14px; }
.review-top .average-rating .rating-box { margin: 5px auto; }
.review-top .average-sizing { color: #E26703; font-size: 14px; }
.review-top .filters { }
.review-top .filters h4 {  }
.review-top #review_search_mini_form .ti_input_bar.no_border{ padding:0; }
.review-top #review_search_mini_form .ti_input_bar.no_border input{ margin:0;}
.review-left ul { float: left;margin-right:40px; }
.review-left ul.review-date-filters { display:none;margin-right:40px; font-family:'raleway';
	font-feature-settings: "lnum";-moz-font-feature-settings: "lnum";-webkit-font-feature-settings: "lnum";-ms-font-feature-settings: "lnum";-o-font-feature-settings: "lnum"; font-size:10px;}
.review-left .attr-rating li { }
.review-right { float:right; }
.review-right .separate-rating .mark-rating { width:100%; float:left; clear:left; margin:5px 0; }
.review-right .separate-rating .mark-rating .rating-percent{ float:left; font-size: 10px; }
.review-right .separate-rating .rating-box { margin-right: 4px; float: left; }
/*.review-right .separate-rating .scroll-box { background: url(../../images/detailedreview/scroll_bar_off.jpg) no-repeat; height: 13px; width: 71px; margin-right: 4px; float: left; }
.review-right .separate-rating .scroll-box .scroll-rating { background: url("../../images/detailedreview/scroll_bar_on.jpg") no-repeat 0 0 transparent; height: 13px; width: 71px; }
*/
.review-top .review-sorts {}
.review-top .review-sorts .clear-filters-link{ color: #000; font-size: 10px; }
.review-top .review-sorts .select-review-sorts{ }

.review-dialog-submit-result {min-height: 0 !important; font-size:24px; font-family:'raleway', verdana, sans-serif; color:#559a13;}

.box-reviews .review-dt { text-align:center;float: left; width: 22%; padding-right: 1%; clear: both; border-right: 2px solid #f7e8db; margin-bottom: 20px; line-height: 1.2; overflow:hidden; }
.box-reviews .review-dt.account { text-align: center; }
.box-reviews .review-dt li { float: left; clear:left; margin-top: 5px; }
.box-reviews .review-dt .label-review-attr { font-weight: bold; }
.box-reviews .review-dt .nickname { color: #E26703;  display: block; margin-bottom: 10px; font-size: 16px; }
.box-reviews .review-dt .date{ display: block; font-size:1.2em; }
.box-reviews .review-dt .value-review-attr { color: #000; }
.box-reviews .review-dt .label-review-attr.left, .box-reviews .review-dt .value-review-attr.left { float: left; }
.box-reviews .review-dt .value-review-attr > img { margin: 8px 0px 0px 15px; }
.box-reviews .review-dd { float: left; border-left: 2px solid #f7e8db; width: 75%; padding-left: 3%; overflow:hidden;}
.box-reviews#customer-reviews .review-dd { margin: 0 0 0 -2px ; }
.box-reviews .review-dd .images-box {width: 100%;float:left;}
						.images-box hr {margin:5px 0; border:none; border-top:2px solid #f7e8db;}
.box-reviews .review-dd .ratings-table { margin-left: 7px;  }
.box-reviews .review-dd .title { color: #000; font-weight: bold; margin-bottom: 10px; }
.box-reviews .review-dd .title.status { text-align:center; }
.box-reviews .review-dd li { margin-bottom: 10px; }
.box-reviews .review-dd .label-review-attr { color: #000; font-weight: bold; }
.box-reviews .review-dd li.sizing .label-review-attr{ float: left;  margin-right: 5px; }
.box-reviews .review-dd .image-review { width: 50%; height: auto; float: left; font-size: 8px; }
.box-reviews .review-dd .sizing { height:30px; }
.box-reviews .review-dd .sizing label { margin: 4px 10px 0 0; float: left; }
.box-reviews .review-dd .sizing .value-review-attr { color: #E26703; }
/*.box-reviews .review-dd .video-review { background: url(../../images/play_video_icon.jpg) no-repeat; width: 94px; height: 60px; cursor: pointer; }*/
.box-reviews .review-dd .video-review { text-decoration: underline; color: #62AC62; }
.box-reviews .review-dd .helpful-question {float: left; padding-right: 20px;}
.box-reviews .review-dd .helpful-block {padding-bottom: 30px;}
.box-reviews .review-dd .helpful-block button {color: #7C5266; border: none; background: none; cursor: pointer; padding: 0px 0 3px 0 }
.box-reviews .ratings-table td { vertical-align: middle;  font-size: 12px; line-height: 1.5; padding: 3px 5px 3px 0; }
.box-reviews .review-dd .header-reviews { float: right; margin: 10px 5px;}
.box-reviews .vb-image img { margin-left:6px; }

.my-account #customer-reviews.box-reviews .review-dd .title,
.my-account #customer-reviews.box-reviews .review-dd .header-reviews{
	width:50%;
	float:left;
	margin:10px 0;
}

.my-account #customer-reviews.box-reviews .ti_cms_border_block{
	margin:15px 0;
}

.my-account .title h3{margin:0;}

#customer-reviews.box-reviews .review-dd .title.status { 
	float: right;
	vertical-align: middle;
	margin: 0 5px;
	width: auto;
}

#customer-reviews.box-reviews .review-dd .rating-box{
	float: right;
	vertical-align: middle;
	margin: 2px 0;
}

.ui-dialog .ui-dialog-title { display: none; }
.ui-dialog .ui-widget-header,
.login-dialog-block .account-create .fieldset,
.login-dialog-block .account-login .content,
.login-dialog-block .account-login .buttons-set { background: none; border: none; width:auto; }
.login-dialog-block { padding-left: 25px !important; }
.login-dialog-block .login-dialog-container { overflow: hidden; background: #FBFAF6; border: 1px solid #BBB6A5;  }
.login-dialog-block .account-login { float: left;  width: 242px; }
.login-dialog-block .form-list { text-align: left; }
.login-dialog-block .form-list .input-box { width: 196px; }
.login-dialog-block .form-list input.input-text { width: 190px; }

.login-dialog-block .account-create { float: left; width: 453px; }
.login-dialog-block .account-create h2 { border-bottom: 1px solid #DDDDDD; color: #E76200; font-size: 13px; font-weight: bold; margin: 0 0 14px; padding: 0 0 5px 23px; text-transform: uppercase; }
.login-dialog-block .account-create .fieldset { border-left: 1px solid #BBAFA0; margin: 0; padding: 14px 10px 10px 22px; }
.login-dialog-block .account-create .form-list .field { width: 210px; }
.login-dialog-block .account-create .buttons-set { border-top: none; margin-top: 38px; }

.ui-dialog .login-dialog-block .account-login .content { min-height:240px; }

.overall-raiting ul{display:inline-block;}
.overall-raiting .right li { float: left; }
.review-dialog-block .sizing .right li input.radio,
.reviews-container .sizing .right li input.radio,
.overall-raiting .right li input.radio{ display: none }
.review-dialog-block .sizing .right .sizing-ul li { background: url(../../images/detailedreview/arrow_up.jpg) no-repeat center 0; float: left; margin-right: 65px; margin-top: 5px; font-size:10px; padding-top: 5px; width: 40px; text-align: center; }
.review-dialog-block .sizing .right .sizing-ul li.last { margin-right: 0; background-position: 100% 0; text-align: right; }
.review-dialog-block .sizing .right .sizing-ul li.first {  background-position: 0 0; text-align: left; }
.review-dialog-block .sizing .right .slider-wrapper { width: 250px; float: left; margin-right: 10px; font-size: 10px; border: none; background: none; overflow: visible; }
.review-dialog-block .sizing .right #sizing-label { font-size: 9px; display:block; }
.reviews-wrapper .sizing-bar { float:left; background: url(../../images/detailedreview/bg_sizing-bar.jpg) no-repeat; width: 91px; height: 6px; }
.reviews-wrapper .sizing-bar div { background: url(../../images/detailedreview/selected-sizing.jpg) no-repeat 100% 0; width: 7%;  height: 6px; }

.box-collateral .review-hr { border-top: 1px solid #999; clear: both; margin: 15px 10px; }

/*
.my-account .box-collateral { float: left; border: 1px solid #616161; width: 100%; padding: 10px; margin-top: 12px; }
.my-account .box-collateral .review-hr { border-top: 1px solid #616161; width: 100%; clear: both; margin: 15px 0; }
.my-account .box-collateral .review-dt .review-image { margin-bottom:10px; }
.my-account .box-collateral .page-title { margin: 0; border: none; }
.my-account .box-collateral .page-title h1 { color: #000; } */
.customer-review-info-table { }
.customer-review-info-table th,
.customer-review-info-table td { text-align: center; }
.customer-review-info-table th {  font-weight: bold; }
.customer-review-info-table td { color: #616161; }

.review-dialog-block #review-form {  display:block; }
.review-dialog-block #review-form .form-add { float: left; }
.review-dialog-block #review-form fieldset > div { width:100%; float:left; clear:both; }
.review-dialog-block #review-form fieldset div.with-border { padding-bottom:5px; margin-bottom:5px; border-bottom:1px solid #559a13; }
.review-dialog-block #review-form fieldset div.about-you.with-border { border-bottom:2px solid #cbcbcb; }
.review-dialog-block #review-form .your-review.overall {  }
.review-dialog-block #review-form p { margin:0; font-weight:normal; font-size:13px; }

.review-dialog-block #review-form .header { width:100%; text-align:left; }
.review-dialog-block #review-form .header .tell-us { font-size: 15px; }
.review-dialog-block #review-form .header .questions { float:right; margin-top:4px; font:bold 9px Verdana; color:#252525; }
.review-dialog-block #review-form .header .customer-service { float:right; margin-top:2px; clear:right; font:normal 9px Verdana; color:#252525; }
.review-dialog-block #review-form .header .customer-service a { color:#bb4381; font-weight:bold; text-decoration:none; }

.review-dialog-block #review-form .left { width:202px; padding:2px 10px 0 0; text-align:left; }
.review-dialog-block #review-form .left .title { line-height:1.2; margin:0; }
.review-dialog-block #review-form .left .title em { color:#EB340A; }
.review-dialog-block #review-form .left .desc { padding-top:4px; font-size:13px; }
.review-dialog-block #review-form .left overall.desc { margin-bottom:5px; }

.review-dialog-block #review-form .right { width:320px; padding:6px; text-align:center; box-sizing:border-box; border-radius:5px;background:#f7e8db; }
.review-dialog-block #review-form .right label { font:bold 10px Verdana; color:#0A263C; }
.review-dialog-block #review-form .right label.proscons { font:italic 10px Verdana; color:#0A263C; }
.review-dialog-block #review-form .right .proscons { line-height:10px; margin-bottom:5px; }
.review-dialog-block #review-form .right label em { color:#EB340A; }
.review-dialog-block #review-form .right input, .review-dialog-block #review-form .right textarea { width:98%;}
.review-dialog-block #review-form .right .wide { width:100%; }
.review-dialog-block #review-form .right .wide textarea { height:100px; padding-top:5px; }
.review-dialog-block #review-form .right .narrow textarea { padding-top:5px; }
.review-dialog-block #review-form .right .input-box {  }
/*.review-dialog-block #review-form .right  .more-images {float:left;}*/
.review-dialog-block #review-form .right  .more-images input { line-height:1em;height:auto; padding:0;
margin:0;}
.review-dialog-block #review-form .right  .more-images a {float:right;line-height:19px;margin-top:3px;font-size:10px;}
.review-dialog-block #review-form .right   #add-more-images {float:left;clear:both;}
.review-dialog-block #review-form .right .narrow { width:48%; float:left; }
.review-dialog-block #review-form .right .narrow.first { margin:0 1%; }
.review-dialog-block #review-form .right .age, .review-dialog-block #review-form .right .height { width:70px; float:left; }
.review-dialog-block #review-form .right .age input, .review-dialog-block #review-form .right .height input { width:50px; }
.review-dialog-block #review-form .right .body-types li { float:left; width:30px; text-align:center; }
.review-dialog-block #review-form .right .body-types li input { display:inline; clear:both; }
.review-dialog-block #review-form .right .rating-code { float: left; clear: both; width: 80px; }
.review-dialog-block #review-form .overall-raiting .right li { margin: 0 5px; }

.review-dialog-block #review-form .sizing .right { padding-top:10px; }
.review-dialog-block #review-form .your-review.overall .left { padding-top:17px; }
.review-dialog-block #review-form .your-review.overall .right { margin-bottom:15px; }
.review-dialog-block #review-form .your-review.overall .wide { margin-bottom:3px; }
.review-dialog-block #review-form .your-review.overall ul li { margin-bottom:3px; }
.review-dialog-block #review-form .upload-image { margin-bottom:5px; }
.review-dialog-block #review-form .upload-image img { margin-top:10px; }
.review-dialog-block #review-form .about-you img { height:92px; }
.review-dialog-block #review-form .upload-video .right { padding-top:10px; }

.review-dialog-block #review-form .ti-required-entry:before{
	margin-top:8px;
}

.review-dialog-block #review-form .overall-raiting .ti-required-entry:before,
.review-dialog-block #review-form .your-review .ti-required-entry:before{
	margin-left:-15px;
	margin-top:4px;
}

.review-dialog-block #review-form .your-review.overall .ti-required-entry:before{
	margin-left:-10px;
}

.block-reviewed ul { position: relative; }
.block-reviewed ul li { height:155px; display: block !important; overflow: hidden; }
.block-reviewed ul li .li-content { padding: 4px 10px 4px 4px; }
.block-reviewed .thumbnail { float: left; }
.block-reviewed .product-title { font-size: 8pt; }
.block-reviewed .review-title { font-weight: bold; overflow: hidden; height: 16px; }
.block-reviewed .detail { overflow: hidden; height: 36px }
.block-reviewed .nickname { float: right; font-weight: bold; }
.block-reviewed .spyWrapper { overflow: hidden; }

.review-dialog-block #review-form .buttons-set { border-top: none; margin: 0px; }
.review-dialog-block #review-form .pros input,
.review-dialog-block #review-form .cons input { width:auto; margin-right:5px; }

#review_search_mini_form ::-webkit-input-placeholder {color:#aaa;}
#review_search_mini_form :-moz-placeholder {color:#aaa;}
#review_search_mini_form .placeholder { color:#aaa; }

.review-dialog-block #review-form #recaptcha_widget_div { display:inline-block; *display: inline; zoom:1; }
.review-dialog-block #review-form .captcha-error { color:#f00; }

.review-dialog-block .overall-raiting .right li .separate-rating-star { cursor:pointer; height:24px; }
.reviews-container .review-top .average-rating .rating-box .rating { height:24px; }
.reviews-container .review-top .average-rating .rating-box { height:24px; }
#review-form #review-captcha { float:none; margin:0 auto; width:450px; }

.box-reviews .share-fb { height: 12px; float: left; margin-top: 6px; padding-left: 15px; line-height: 12px;
    background: url(../../images/detailedreview/fb_logo_12x12.png) 0 0 no-repeat; }
.box-reviews .share-twitter { float: right; }
.box-reviews .recommendation { width: 100%; }

.review-dialog-block #slider { width:250px; border:1px solid #CCC; height:0.8em; background:#fff; -webkit-touch-callout:none; border-radius:4px 4px 4px 4px; }

.review-dialog-block .noUi-midBar { height:100%;	z-index:0; background:#39C; -webkit-touch-callout:none; }
.review-dialog-block .noUi-handle > div { position:absolute;	width:1.2em; top:-5px; left:-8px; z-index:5; border:1px solid #CCC; background:#EEE; border-radius:4px 4px 4px 4px; height:1.5em; }
.review-dialog-block .noUi-handle > div:hover,
.review-dialog-block .noUi-handle > div.noUi-activeHandle { background:#fff; border-color:#ccc; }
.review-dialog-block .disabled > .noUi-midBar { background:#999; }
.review-dialog-block .disabled .noUi-handle > div { border-color:#CCC; background:#CCC; }
@media (-webkit-min-device-pixel-ratio:1.2),-moz-touch-enabled,(max-device-width:1024px){
    .review-dialog-block .noUi-handle > div { height:32px; width:32px; top:-13px; left:-16px; }
}
a.helpful-btn  {}
a.unhelpful-btn {}
a.review-vote-rating {float:left; margin-right: 15px;}
a.review-vote-rating span {font:font: normal 11px/1.55 Verdana,Helvetica,sans-serif; color:#000; }
a.review-vote-rating:hover { background-position: 0 -22px;}
a.review-vote-rating:active { background-position: 0 -44px;}

.voting-qty {float: right; padding-left: 6px; font: bold 12px/1.55 Verdana,Helvetica,sans-serif; color:#000; }
.ui-dialog.ui-widget-content.success {/*position: fixed!important;top: 350px!important; */}

.review-dialog-modal{
	background: none repeat scroll 0% 0% #FFF;
	border-width: 1px 1px 7px;
	border-style: solid;
	border-color: #71B62F;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
}

.ui-widget-overlay{background-color: rgba(0, 0, 0,0.7);}

.review-dialog-modal textarea{
	height:200px;
}

.ti_cms_review_block.one_half{
	width: 47%;
	margin: 1%;
}

.ti_cms_review_block img{
	max-width:100%;
}

.fb_iframe_widget iframe {
	z-index: 999;
}

@media only screen and (max-width : 767px) {
	.review-top .review-sorts { clear: both;width:auto; }
	.ti_cms_review_block.one_half{margin:0 auto 15px;}
	
	.my-account .box-reviews .review-dd,
	.my-account .box-reviews .review-dt { width:50%;margin:0; padding:2%;box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
	.my-account .box-reviews .review-dd .image-review {width:100%;}
}

@media only screen and (max-width : 479px) {
	.review-top #review_search_mini_form{float:none;}
	.my-account .box-reviews .review-dd,
	.my-account .box-reviews .review-dt { width:98%;border-right:none;border-left:none;}
	.my-account .box-reviews .review-dt{
		border-bottom: 2px solid #f7e8db
	}

}