/************* CSS Header ******************************/
/*
Please refer to http://www.877ink.com/coding-standards.pdf for
the most up to date coding standards for TomatoInk.com
Author: Megan Prior-Pfeifer
Modified by Sam Chao 05/29/14

Table of Contents:
1. Global
2. Header
3. Navigation
4. Layout
	- 2 Column Layout
	- Sidebar Layout
	- Full Width Layout
5. Text
6. Elements
	- Buttons
	- Inputs
	- Dividers
	- Tables
	- Resizable Images
	- Resizer

Created for article pages at TomatoInk.com

Color Reference:
green: #4ca62e;

Naming convention: add ti-cms- prefix
 
*/
/*********************************************************/


/* -----------------------------------*/
/* -------->> 1. Global <<<-----------*/
/* -----------------------------------*/

.ti-cms-width100 { width: 100%; }
.ti-cms-width75 { width: 75%; }
.ti-cms-width50 { width: 50%; }
.ti-cms-floatLeft { float: left !important; }
.ti-cms-floatRight { float: right !important; }
.ti-cms-alignLeft { text-align: left; }
.ti-cms-alignRight { text-align: right; }
.ti-cms-marginCollapse{ margin:0 !important; }
.ti-cms-paddingCollapse{ padding:0 !important; }
.ti-cms-fixed { position:fixed !important; }
.ti-cms-bgWhite{ background-color:#FFF;}
.ti-cms-bgGrey{ background-color:#F7F7F7;}
.ti-cms-borderRight{ border-right:#eee 1px solid;}
.ti-cms-borderLeft{ border-left:#eee 1px solid;}
.ti-cms-borderAll{ border:#eee 1px solid;}
.ti-cms-shadowGrey{ box-shadow:#ccc 0 0 5px;}
.ti-cms-center{ float:none !important; margin:0 auto !important; position:relative !important; text-align: center;}
.ti-cms-strong{font-weight:bold;}
.ti-cms-clear{ clear:both; }

.ti-cms-greenTxt{ color: #4ca62e; }
.ti-cms-allCap{ text-transform: uppercase; }

/* -----------------------------------*/
/* -------->> 2. Header <<<-----------*/
/* -----------------------------------*/

.ti-cms-intro{
	background:#f5f5f5;
	border:1px solid #e8e8e8;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	padding:20px;
	position:relative;
}

/* -----------------------------------*/
/* -------->> 3. Navigation <<<-------*/
/* -----------------------------------*/

#ti-cms-articleNav ul, 
#ti-cms-articleNav ol {
	padding:0;
}

#ti-cms-articleNav ul li{
	margin: 0px;
	padding: 0px 7px;
	float: left;
	color: rgb(51, 51, 51);
	border-right: 1px solid rgb(204, 204, 204);
	list-style: none outside none;
}
#ti-cms-articleNav ul li:before {
	content:none;
}

#ti-cms-articleNav ul li:first-child, #ti-cms-articleNav ul li.ti-cms-first {
	padding-left:0;
}

#ti-cms-articleNav ul li:last-child, #ti-cms-articleNav ul li.ti-cms-last{
	border: medium none;
	padding-right: 0px;
}

#ti-cms-articleNav a{
	color:#555555;	
}

/* -----------------------------------*/
/* ---------->> 4. Layout <<<---------*/
/* -----------------------------------*/

.ti-cms-articleContent_area {
	padding:0 0 30px 0;	
}

/* --2 Column Layout--*/

.ti-cms-leftCol, .ti-cms-rightCol{
	width:46%; 
	padding:0 15px; 
	float:left;
}
/* --3 Column Layout--*/

.ti-cms-width33, .ti-cms-width33Middle,
.ti-cms-width64{
	float:left;
}

.ti-cms-width33 { 
	width: 33%; 
}

.ti-cms-width33Middle { 
	width: 33%; 
	margin:auto .5%; 
}

.ti-cms-width64 { 
	width: 64%; 
}

/* --Sidebar Layout--*/

.ti-cms-articleLeft {
	width:620px; 
	padding-right:50px; 
	float:left;
}
	
.ti-cms-articleRight {
	width:240px; 
	padding:20px; 
	float:left;
}

/* --Full Width Layout--*/

.ti-cms-full-width{
	background:#f7f7f7; left: 0px;
	right: 0px;
	position: absolute;
	max-width: 100%;
	min-width: 1120px;
	overflow: hidden;
	padding: 20px 0px;
	height: auto;
	}

.ti-cms-full-width table{
	margin:0 auto;
	font-family:Arial, Verdana;
}

.ti-cms-full-width table td{
	margin:0 auto;
	vertical-align:top;
}

.ti-cms-space-adjust {
    position:relative; 
	clear:both; 
	
}

/* --Grid Layout (12 columns)--

.ti-cms-row:after {
            content:"";
            display:table;
            clear:both;
}

.ti-cms-one, .ti-cms-two, .ti-cms-three,
.ti-cms-four, .ti-cms-five, .ti-cms-six,
.ti-cms-seven, .ti-cms-eight, .ti-cms-nine,
.ti-cms-ten, .ti-cms-eleven, .ti-cms-twelve{
	float:left;
	min-height: 1px;
	position: relative;
	margin: 0 .5%;
	padding:1%;
}

.ti-cms-one.firstCol, .ti-cms-two.firstCol, .ti-cms-three.firstCol,
.ti-cms-four.firstCol, .ti-cms-five.firstCol, .ti-cms-six.firstCol,
.ti-cms-seven.firstCol, .ti-cms-eight.firstCol, .ti-cms-nine.firstCol,
.ti-cms-ten.firstCol, .ti-cms-eleven.firstCol{
	margin-left: 0;
	padding-right:0;
}

.ti-cms-one.lastCol, .ti-cms-two.lastCol, .ti-cms-three.lastCol,
.ti-cms-four.lastCol, .ti-cms-five.lastCol, .ti-cms-six.lastCol,
.ti-cms-seven.lastCol, .ti-cms-eight.lastCol, .ti-cms-nine.lastCol,
.ti-cms-ten.lastCol, .ti-cms-eleven.lastCol{
	margin-right: 0;
	padding-left: 0;
}

.ti-cms-one{
width:5.5%;
}

.ti-cms-two{
width:14%;
}

.ti-cms-three{
width:22.5%;
}

.ti-cms-four{
width:31%;
}

.ti-cms-five{
width:39.5%;
}

.ti-cms-six{
width:48%;	
}

.ti-cms-seven{
width:56.5%;	
}

.ti-cms-eight{
width:65%;	
}

.ti-cms-nine{
width:73.5%;	
}

.ti-cms-ten{
width:82%;	
}

.ti-cms-eleven{
width:90.5%;	
}

.ti-cms-twelve{
width:99%;	
margin:0;
padding:.5%;
}

*/

/* -----------------------------------*/
/* ----------->> 5. Text <<<----------*/
/* -----------------------------------*/

.ti-cms-articleContent_area .ti_required-entry {
	margin-left:5px;
}	
.ti-cms-articleContent_area .ti-required-entryB:after {
	content: "*";
	position: absolute;
	margin-left: 0px;
	margin-top: 2px;
	color:#E67921;
	font-weight: bold;
	font-size: 1.2em;
}
.ti-cms-articleContent_area ol li {
	margin-left:1.5em;
}
/*	
.ti-cms-articleContent_area ul.ti-cms-index {
	margin:0 0 10px 0; 
	padding:0; 
	}
	
.ti-cms-articleContent_area ul.ti-cms-index li{
	list-style:none;
	}

.ti-cms-articleRight ul{
	padding: 0 0 0 1.5em;
}

.ti-cms-articleRight p{
	margin:0;
}
	
.ti-cms-indextext {
	color:#4ca62e; 
	text-decoration:underline;
	}
	
.ti-cms-indextext a{
	color:#4ca62e; 
	text-decoration:underline;
	}

.ti-cms-articleContent_area figcaption {
	text-align:center;	
}*/
/*.ti-cms-articleContent_area b {
	font-size:1.6em;
}*/
.ti-cms-articleContent_area p {
	margin-bottom:20px;
}
.ti-cms-articleContent_area a.lgTxt:hover {
	color:#559A13;
}
/* -----------------------------------*/
/* ---------->> 6. Elements <<<-------*/
/* -----------------------------------*/

/* --Buttons--*/

.ti_articleContent_area input {
	width:100%;
}
/* --Inputs--*/


.ti-cms-articleContent_area textarea{
	resize:none;
	color: #559A13;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3) inset;
	cursor: text;
	border: 1px solid #559A13;
	transition: color 0.4s ease 0s;
	font-family: 'Raleway',Arial,sans-serif;
	-moz-font-feature-settings: "lnum";
	font-size:1.8em;
	padding:10px;
	box-sizing:border-box;
	margin: 1% 0;
	width: 100%;
	min-height: 200px;
}
.ti-cms-inputFull {
		width:98%;
	}

/* --Tables--*/

.ti-cms-articleContent_area table{
	border:1px solid #ccc;
	border-radius:1em;
	-webkit-border-radius:1em;
	-moz-border-radius:1em;
	border-spacing:0;
	overflow:hidden;
}

.ti-cms-articleContent_area th {
	font-weight:bold;
	background:#f7e8db;
}

.ti-cms-articleContent_area th,
.ti-cms-articleContent_area td {
	vertical-align: middle;
	text-align:center;
	padding:1em;
	border:.5px solid #f7e8db;
}

/* --Images --*/

.ti-cms-articleContent_area img{
	border:none;
	margin:1em auto;
	max-width:100%;
}

.ti-cms-articleContent_area img.ti-cms-inlineImg{
	display:inline;
	vertical-align:middle;
	margin:0 .5em;
}

.ti-cms-tomato{
	width:200px; 
	height:247px;
	background:url(../../images/ti-assets/tomato.png) no-repeat;
}

/* --Resizable images --*/

.ti-cms-pictureFirst{
	border:0;
	max-height:150px;
}

.ti-cms-picture{
	position: relative;
	margin:10px 30px 30px 0;
	display:inline-block;
}

.ti-cms-picture img:hover{
	background-color: transparent;
	z-index: 50;
}

.ti-cms-picture span{ /*CSS for enlarged image*/
	position:fixed;
	width:70%;
	width:70vw;
	top:10%;
	top:10vh;
	left:15%;
	left:15vw;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #F7E8DB;
	visibility: hidden;
	opacity:0;
	color: black;
	text-decoration: none;
	z-index:5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: visibility .4s ease, opacity .4s ease;
	-ms-transition: visibility .4s ease, opacity .4s ease;
	-o-transition: visibility .4s ease, opacity .4s ease;
	transition: visibility .4s ease, opacity .4s ease;
	-webkit-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
}

.ti-cms-picture span img{ /*CSS for enlarged image*/
	border-width: 0;
	padding: 0;
}

.ti-cms-picture:hover span{ /*CSS for enlarged image on hover*/
	visibility: visible;
	opacity:1;
	margin:0 auto;/*position where enlarged image should offset horizontally */
}

.ti-cms-picture:hover span.taphover.hover:hover{ /*CSS for enlarged image on hover*/
	visibility: hidden;
	opacity:0;
}

/* --Resizer --*/
	
.ti-cms-resizer {
	float:right; 
	font-size:16px; 
	margin-top:15px; 
	color:#444; 
}
	
.ti-cms-resizer .increase, .ti-cms-resizer .decrease {
	padding:4px 6px; 
	*padding:2px 6px; 
	border:1px solid #99c5e7; 
	text-align:center; 
	border-radius:2px; 
	-moz-border-radius:2px; 
	-webkit-border-radius:2px; 
	color:#4ca62e; 
	font-weight:700; 
	*font-weight:bold; 
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease; 
	margin-left:2px; 
	*zoom:1;
	font-size:18px; 
	cursor:pointer;
}
	
.ti-cms-resizer .increase:hover, .ti-cms-resizer .decrease:hover{
	background:#d6ecfc; 
	border:1px solid #4ca62e; 
	-moz-box-shadow: 0 0 3px #ccc; 
	-webkit-box-shadow: 0 0 3px #ccc; 
	box-shadow: 0 0 3px #ccc;
}
	
.ti-cms-resizer-position {
	margin:-50px 40px 0 0; 
	font-family:Arial, verdana; 
	z-index:100; 
	position:relative;
}
/* -----------------------------------*/
/* -------->> 9. Responsive <<<-------*/
/* -----------------------------------*/


@media only screen and (max-width : 568px), @media only screen and (max-device-width : 568px){
	
	.ti-cms-hide568 {
		display:none;
	}
	
}

@media only screen and (max-width : 1024px), @media only screen and (max-device-width : 1024px){

	.ti-cms-hide1024 {
		display:none;
	}

}

@media only screen and (max-width: 999px) and (min-width: 768px) {

}

@media only screen and (max-width : 767px), @media only screen and (max-device-width : 767px){

	.ti-cms-height767 {
		height:auto !important;
	}
	.ti-cms-borderNo {
		border-right:none;
		border-left:none;
	}
	.ti-cms-articleContent_area.ti-cms-noSpace{
		margin-bottom:0 !important;
	} 

	.ti-cms-picture:hover span:target,
	.ti-cms-picture:focus span:target,
	.ti-cms-picture:active span:target,
	.ti-cms-picture:target span:target{
		display:none;
	}

}
