/************* CSS Header ******************************/
/*
Please refer to http://www.877ink.com/coding-standards.pdf for
the most up to date coding standards for TomatoInk.com
Author: Megan Prior-Pfeifer
Modified by Sam Chao 05/29/14

Table of Contents:
1. Global
2. Header
3. Navigation
4. Layout
	- 2 Column Layout
	- Sidebar Layout
	- Full Width Layout
5. Text
6. Elements
	- Buttons
	- Inputs
	- Dividers
	- Tables
	- Resizable Images
	- Resizer

Created for article pages at TomatoInk.com

Color Reference:
green: #4ca62e;

Naming convention: add ti-cms- prefix
 
*/
/*********************************************************/


/* -----------------------------------*/
/* -------->> 1. Global <<<-----------*/
/* -----------------------------------*/

.ti-cms-width100 { width: 100%; }
.ti-cms-width75 { width: 75%; }
.ti-cms-width50 { width: 50%; }
.ti-cms-floatLeft { float: left !important; }
.ti-cms-floatRight { float: right !important; }
.ti-cms-alignLeft { text-align: left; }
.ti-cms-alignRight { text-align: right; }
.ti-cms-marginCollapse{ margin:0 !important; }
.ti-cms-paddingCollapse{ padding:0 !important; }
.ti-cms-fixed { position:fixed !important; }
.ti-cms-bgWhite{ background-color:#FFF;}
.ti-cms-bgGrey{ background-color:#F7F7F7;}
.ti-cms-borderRight{ border-right:#eee 1px solid;}
.ti-cms-borderLeft{ border-left:#eee 1px solid;}
.ti-cms-borderAll{ border:#eee 1px solid;}
.ti-cms-shadowGrey{ box-shadow:#ccc 0 0 5px;}
.ti-cms-center{ float:none !important; margin:0 auto !important; position:relative !important; text-align: center;}
.ti-cms-strong{font-weight:bold;}
.ti-cms-clear{ clear:both; }

.ti-cms-greenTxt{ color: #4ca62e; }
.ti-cms-allCap{ text-transform: uppercase; }

/* -----------------------------------*/
/* -------->> 2. Header <<<-----------*/
/* -----------------------------------*/

/*.ti-cms-articleHeading {
	margin-top:1em;
}

.ti-cms-articleHeading h1{
	font-size:2.2em;
	font-weight:bold;
	color:#333333;
} 
*/
.ti-cms-intro{
	background:#f5f5f5;
	border:1px solid #e8e8e8;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	padding:20px;
	position:relative;
}

/* -----------------------------------*/
/* -------->> 3. Navigation <<<-------*/
/* -----------------------------------*/

/*#ti-cms-articleNav{
	padding:15px 0;
	text-align: left;
	color: rgb(51, 51, 51);
}*/

#ti-cms-articleNav ul, 
#ti-cms-articleNav ol {
	padding:0;
}

#ti-cms-articleNav ul li{
	margin: 0px;
	padding: 0px 7px;
	float: left;
	color: rgb(51, 51, 51);
	border-right: 1px solid rgb(204, 204, 204);
	list-style: none outside none;
}
#ti-cms-articleNav ul li:before {
	content:none;
}

#ti-cms-articleNav ul li:first-child, #ti-cms-articleNav ul li.ti-cms-first {
	padding-left:0;
}

#ti-cms-articleNav ul li:last-child, #ti-cms-articleNav ul li.ti-cms-last{
	border: medium none;
	padding-right: 0px;
}

#ti-cms-articleNav a{
	color:#555555;	
}

/* -----------------------------------*/
/* ---------->> 4. Layout <<<---------*/
/* -----------------------------------*/


.ti-cms-articleContent_area {
	display:inline-block;
	padding:0 0 30px 0;
	
}

/* --2 Column Layout--*/

.ti-cms-leftCol, .ti-cms-rightCol{
	width:46%; 
	padding:0 15px; 
	float:left;
}
/* --3 Column Layout--*/

.ti-cms-width33, .ti-cms-width33Middle,
.ti-cms-width64{
	float:left;
}

.ti-cms-width33 { 
	width: 33%; 
}

.ti-cms-width33Middle { 
	width: 33%; 
	margin:auto .5%; 
}

.ti-cms-width64 { 
	width: 64%; 
}

/* --Sidebar Layout--*/

.ti-cms-articleLeft {
	width:620px; 
	padding-right:50px; 
	float:left;
}
	
.ti-cms-articleRight {
	width:240px; 
	padding:20px; 
	float:left;
}

/* --Full Width Layout--*/

.ti-cms-full-width{
	background:#f7f7f7; left: 0px;
	right: 0px;
	position: absolute;
	max-width: 100%;
	min-width: 1120px;
	overflow: hidden;
	padding: 20px 0px;
	height: auto;
	}

.ti-cms-full-width table{
	margin:0 auto;
	font-family:Arial, Verdana;
}

.ti-cms-full-width table td{
	margin:0 auto;
	vertical-align:top;
}

.ti-cms-space-adjust {
    position:relative; 
	clear:both; 
	
}

/* --Grid Layout (12 columns)--*/

.ti-cms-row:after {
            content:"";
            display:table;
            clear:both;
}

.ti-cms-one, .ti-cms-two, .ti-cms-three,
.ti-cms-four, .ti-cms-five, .ti-cms-six,
.ti-cms-seven, .ti-cms-eight, .ti-cms-nine,
.ti-cms-ten, .ti-cms-eleven, .ti-cms-twelve{
	float:left;
	min-height: 1px;
	position: relative;
	margin: 0 .5%;
	padding:1%;
}

.ti-cms-one.firstCol, .ti-cms-two.firstCol, .ti-cms-three.firstCol,
.ti-cms-four.firstCol, .ti-cms-five.firstCol, .ti-cms-six.firstCol,
.ti-cms-seven.firstCol, .ti-cms-eight.firstCol, .ti-cms-nine.firstCol,
.ti-cms-ten.firstCol, .ti-cms-eleven.firstCol{
	margin-left: 0;
	padding-right:0;
}

.ti-cms-one.lastCol, .ti-cms-two.lastCol, .ti-cms-three.lastCol,
.ti-cms-four.lastCol, .ti-cms-five.lastCol, .ti-cms-six.lastCol,
.ti-cms-seven.lastCol, .ti-cms-eight.lastCol, .ti-cms-nine.lastCol,
.ti-cms-ten.lastCol, .ti-cms-eleven.lastCol{
	margin-right: 0;
	padding-left: 0;
}

.ti-cms-one{
width:5.5%;
}

.ti-cms-two{
width:14%;
}

.ti-cms-three{
width:22.5%;
}

.ti-cms-four{
width:31%;
}

.ti-cms-five{
width:39.5%;
}

.ti-cms-six{
width:48%;	
}

.ti-cms-seven{
width:56.5%;	
}

.ti-cms-eight{
width:65%;	
}

.ti-cms-nine{
width:73.5%;	
}

.ti-cms-ten{
width:82%;	
}

.ti-cms-eleven{
width:90.5%;	
}

.ti-cms-twelve{
width:99%;	
margin:0;
padding:.5%;
}

/* -----------------------------------*/
/* ----------->> 5. Text <<<----------*/
/* -----------------------------------*/

/*.ti-cms-articleContent_area, .ti-cms-articleContent_area p, 
.ti-cms-articleContent_area h1, .ti-cms-articleContent_area h2, 
.ti-cms-articleContent_area h3, .ti-cms-articleContent_area a{
	font-family: Arial, Helvetica, sans-serif;
}

.ti-cms-articleContent_area h1, .ti-cms-articleContent_area h2,
.ti-cms-articleContent_area h3{
	color:#4ca62e; 
	margin:1.5em 0; 
	font-weight:bold;
}

.ti-cms-articleContent_area h1{
	font-size:2em;
}

.ti-cms-articleContent_area h2{
	font-size:1.7em;
}

.ti-cms-articleContent_area h3{
	font-size:1.2em;
	color:#3f3a39;
}

.ti-cms-articleContent_area p{
	margin: 0 0 1.5em 0;
	padding:0;
    line-height:1.5em;
	font-size:12px;
	color:#555555;
}

.ti-cms-small-font {
	font-size:0.9em;
}

.ti-cms-articleContent_area .ti-cms-heading1{
	color:#4ca62e;
	font-size:1.5em;
}

.ti-cms-articleContent_area .ti-cms-heading2{
	color:#3f3a39;
	font-size:1.2em;
}

.ti-cms-articleContent_area ul, .ti-cms-articleContent_area ol{
	margin:1.5em 0;
	}
	
.ti-cms-articleContent_area ul li {
	padding-bottom:4px; 
	list-style:disc;
	}

.ti-cms-articleContent_area ul li {
	margin-left:20px;
}*/
.ti-cms-articleContent_area .ti_required-entry {
	margin-left:5px;
}	
.ti-cms-articleContent_area .ti-required-entryB:after {
	content: "*";
	position: absolute;
	margin-left: 0px;
	margin-top: 2px;
	color:#E67921;
	font-weight: bold;
	font-size: 1.2em;
}
.ti-cms-articleContent_area ol li {
	margin-left:1.5em;
}
/*	
.ti-cms-articleContent_area ul.ti-cms-index {
	margin:0 0 10px 0; 
	padding:0; 
	}
	
.ti-cms-articleContent_area ul.ti-cms-index li{
	list-style:none;
	}

.ti-cms-articleRight ul{
	padding: 0 0 0 1.5em;
}

.ti-cms-articleRight p{
	margin:0;
}
	
.ti-cms-indextext {
	color:#4ca62e; 
	text-decoration:underline;
	}
	
.ti-cms-indextext a{
	color:#4ca62e; 
	text-decoration:underline;
	}

.ti-cms-articleContent_area figcaption {
	text-align:center;	
}*/
/*.ti-cms-articleContent_area b {
	font-size:1.6em;
}*/
.ti-cms-articleContent_area p {
	margin-bottom:20px;
}
.ti-cms-articleContent_area a.lgTxt:hover {
	color:#559A13;
}
/* -----------------------------------*/
/* ---------->> 6. Elements <<<-------*/
/* -----------------------------------*/

/* --Buttons--*/

/*.ti-cms-articleContent_area input[type=submit],
.ti-cms-articleContent_area input[type=submit]:link,
.ti-cms-articleContent_area a.btn {
	border:1px solid #34740e;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	font-weight:bold;
	color:#fff;
	text-shadow: 1px 1px rgba(0, 0, 0,.5);
	padding: 5px; 
	text-decoration:none; 
	display:inline-block;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	background:#4ca62e;
 	background-image: -webkit-gradient(linear, left top, left bottom, from(#4ca62e), to(#008c00));
 	background-image: -webkit-linear-gradient(top, #4ca62e, #008c00);
 	background-image: -moz-linear-gradient(top, #4ca62e, #008c00);
 	background-image: -ms-linear-gradient(top, #4ca62e, #008c00);
 	background-image: -o-linear-gradient(top, #4ca62e, #008c00);
 	background-image: linear-gradient(to bottom, #4ca62e, #008c00);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4ca62e, endColorstr=#008c00);
 	transition:.6s;
 	height:auto;
}
.ti-cms-articleContent_area input[type=submit]:hover,
.ti-cms-articleContent_area input[type=submit]:focus,
.ti-cms-articleContent_area input[type=submit]:active,
.ti-cms-articleContent_area a.btn:hover,
.ti-cms-articleContent_area a.btn:focus,
.ti-cms-articleContent_area a.btn:active {
	border:1px solid #224b09;
 	background-color: #36780f; 
 	background-image: -webkit-gradient(linear, left top, left bottom, from(#36780f), to(#005900));
 	background-image: -webkit-linear-gradient(top, #36780f, #005900);
 	background-image: -moz-linear-gradient(top, #36780f, #005900);
 	background-image: -ms-linear-gradient(top, #36780f, #005900);
 	background-image: -o-linear-gradient(top, #36780f, #005900);
 	background-image: linear-gradient(to bottom, #36780f, #005900);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36780f, endColorstr=#005900);
}

.ti-cms-articleContent_area p.more, 
.ti-cms-articleContent_area a.more, 
.ti-cms-articleContent_area h1.more,
.ti-cms-articleContent_area h2.more,
.ti-cms-articleContent_area h3.more, 
.ti-cms-articleContent_area ul.more {
    display:none;
}
*/
.ti-cms-articleContent_area .readmorebtn {
    cursor:pointer;
}

.ti_articleContent_area input {
	width:100%;
}
/* --Inputs--*/

/*.ti-cms-articleContent_area input,
.ti-cms-articleContent_area textarea,
.ti-cms-articleContent_area select{
	border: 1px solid #CCC;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.14) inset;
	color: #666;
}

.ti-cms-articleContent_area select,
.ti-cms-articleContent_area input{
	height:25px;
}
*/

.ti-cms-articleContent_area textarea{
	resize:none;
	color: #559A13;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3) inset;
	cursor: text;
	border: 1px solid #559A13;
	transition: color 0.4s ease 0s;
	font-family: 'Raleway',Arial,sans-serif;
	-moz-font-feature-settings: "lnum";
	font-size:1.8em;
	padding:10px;
	box-sizing:border-box;
	margin: 1% 0;
	width: 100%;
	min-height: 200px;
}
.ti-cms-inputFull {
		width:98%;
	}
/*.ti-cms-articleContent_area .textArea {
	width:100%;
}*/
/* --Dividers--*/
/*.ti-cms-divider {
	border-top: 2px dotted #cccccc;
	border-bottom: 2px dotted #dddddd;
	clear:both;
	margin: .5em auto;
	height:0;
}

.ti-cms-articleSeparator{
	height:1px; background:#ffffff;
	border-top:1px solid #dddddd;
	width:100%;
	margin:15px 0;
}*/

/* --Tables--*/

.ti-cms-articleContent_area table{
	border:1px solid #ccc;
	border-radius:1em;
	-webkit-border-radius:1em;
	-moz-border-radius:1em;
	border-spacing:0;
	overflow:hidden;
}

.ti-cms-articleContent_area th {
	font-weight:bold;
	background:#f7e8db;
}

.ti-cms-articleContent_area th,
.ti-cms-articleContent_area td {
	vertical-align: middle;
	text-align:center;
	padding:1em;
	border:.5px solid #f7e8db;
}

/* --Images --*/

.ti-cms-articleContent_area img{
	border:none;
	margin:1em auto;
	max-width:100%;
}

.ti-cms-articleContent_area img.ti-cms-inlineImg{
	display:inline;
	vertical-align:middle;
	margin:0 .5em;
}

.ti-cms-tomato{
	width:200px; 
	height:247px;
	background:url(../../images/ti-assets/tomato.png) no-repeat;
}

/* --Icons--*/

/*
a.ti-cms-iconBlock{
  display:inline-block;
  text-align:center;
  margin:0 1em;
}

.ti-cms-icon{
	display:inline-block;
	background:url(../../images/ti-assets/ti-icons.png) transparent no-repeat left top;
}

.ti-cms-icon.ti_generalIcon{
	width:48px;
	height:48px;
	margin-right:10px;
}

.ti-cms-icon.ti_socialIcon{
	width:41px;
	height:41px;
}

#ti_tomato.ti-cms-icon{
	background-position:-570px -10px;
	width:53px;
	height:61px;
}

#ti_brush.ti-cms-icon{
	background-position:-16px -17px;
}

#ti_tag.ti-cms-icon{
	background-position:-96px -19px;
}

#ti_note.ti-cms-icon{
	background-position:-179px -15px;
}

#ti_truck.ti-cms-icon{
	background-position:-256px -24px;
}

#ti_money.ti-cms-icon{
	background-position:-340px -15px;
}

#ti_support.ti-cms-icon{
	background-position:-420px -16px;
}

#ti_checkmark.ti-cms-icon{
	background-position:-585px -107px;
}

#ti_like.ti-cms-icon{
	background-position:-497px -19px;
}

#ti_paint.ti-cms-icon{
	background-position:-655px -16px;
}

#ti_facebook.ti-cms-icon{
	background-position:-18px -99px;
}

#ti_twitter.ti-cms-icon{
	background-position:-98px -99px;
}

#ti_linkedin.ti-cms-icon{
	background-position:-178px -99px;
}

#ti_google.ti-cms-icon{
	background-position:-259px -99px;
}

#ti_pinterest.ti-cms-icon{
	background-position:-340px -99px;
}

#ti_youtube.ti-cms-icon{
	background-position:-419px -99px;
}

#ti_blogger.ti-cms-icon{
	background-position:-498px -99px;
}

.ti-cms-icon.ti_socialIcon:hover{
	background-position: inherit -179px !important;
}
*/
/* --Resizable images --*/

.ti-cms-pictureFirst{
	border:0;
	max-height:150px;
}

.ti-cms-picture{
	position: relative;
	z-index: 0;
	margin:10px 30px 30px 0;
	display:inline-block;
}

.ti-cms-picture:hover{
	background-color: transparent;
	z-index: 50;
}

.ti-cms-picture span{ /*CSS for enlarged image*/
	position: absolute;
	background-color: #fff;
	padding: 5px;
	top:20%;
	left:30%;
	border: 1px solid #ccc;
	visibility: hidden;
	color: black;
	text-decoration: none;
}

.ti-cms-picture span img{ /*CSS for enlarged image*/
	border-width: 0;
	padding: 2px;
	max-width:400px;
}

.ti-cms-picture:hover span{ /*CSS for enlarged image on hover*/
	visibility: visible;
	margin:0 auto;/*position where enlarged image should offset horizontally */

}

/* --Resizer --*/
	
.ti-cms-resizer {
	float:right; 
	font-size:16px; 
	margin-top:15px; 
	color:#444; 
}
	
.ti-cms-resizer .increase, .ti-cms-resizer .decrease {
	padding:4px 6px; 
	*padding:2px 6px; 
	border:1px solid #99c5e7; 
	text-align:center; 
	border-radius:2px; 
	-moz-border-radius:2px; 
	-webkit-border-radius:2px; 
	color:#4ca62e; 
	font-weight:700; 
	*font-weight:bold; 
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease; 
	margin-left:2px; 
	*zoom:1;
	font-size:18px; 
	cursor:pointer;
}
	
.ti-cms-resizer .increase:hover, .ti-cms-resizer .decrease:hover{
	background:#d6ecfc; 
	border:1px solid #4ca62e; 
	-moz-box-shadow: 0 0 3px #ccc; 
	-webkit-box-shadow: 0 0 3px #ccc; 
	box-shadow: 0 0 3px #ccc;
}
	
.ti-cms-resizer-position {
	margin:-50px 40px 0 0; 
	font-family:Arial, verdana; 
	z-index:100; 
	position:relative;
}
/* -----------------------------------*/
/* -------->> 9. Responsive <<<-------*/
/* -----------------------------------*/


/* iPhone 5 (portrait & landscape)----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px){


}

@media only screen and (max-width : 568px), @media only screen and (max-device-width : 568px){
	
	.ti-cms-hide568 {
		display:none;
	}
	
}

@media only screen and (max-width : 1024px), @media only screen and (max-device-width : 1024px){

	.ti-cms-hide1024 {
		display:none;
	}

}

@media only screen and (max-width : 767px), @media only screen and (max-device-width : 767px){

	.ti-cms-height767 {
		height:auto !important;
	}
	.ti-cms-borderNo {
		border-right:none;
		border-left:none;
	}
	.ti-cms-articleContent_area.ti-cms-noSpace{
		margin-bottom:0 !important;
	} 

}

@media only screen and (min-width : 768px) and (max-width : 1024px) {


}

@media only screen and (min-width : 320px) and (max-width : 568px){

	
}