<config>
    <modules>
        <Nextopia_Search>
            <version>1.5.7</version>
        </Nextopia_Search>
    </modules>
	<global>
        <models>
            <nsearch>
                <class>Nextopia_Search_Model</class>
            </nsearch>
        </models>
		<helpers>
			<catalogsearch>
				<!-- this is for handling search form rewriting -->
				<rewrite>
					<data>Nextopia_CatalogSearch_Helper_Data</data>
				</rewrite>
			</catalogsearch>
			<nsearch>
				<class>Nextopia_Search_Helper</class>
			</nsearch>
		</helpers>
        <blocks>
            <nsearch>
                <class>Nextopia_Search_Block</class>
            </nsearch>
			<nrefine>
				<class>Nextopia_Search_Block_Layer_View</class>
			</nrefine>
        </blocks>
	</global>
    <frontend>
        <routers>
            <nsearch>
                <use>standard</use>
                <args>
                    <module>Nextopia_Search</module>
                    <frontName>nsearch</frontName>
                </args>
            </nsearch>
        </routers>
		<layout>
			<updates>
                <nsearch>
                    <file>nextopiasearch.xml</file>
                </nsearch>
            </updates>
		</layout> 
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <nsearch_options>
                                            <title>Nextopia Configuration</title>
                                        </nsearch_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <nsearch_options>
            <settings>
                <productid_field_name>Productid</productid_field_name>
            </settings>
        </nsearch_options>
    </default>
</config> 
