/************* CSS Header ******************************/
/*
Please refer to our brand guidelines for
the most up to date coding standards for TomatoInk.com
Author: YOUR NAME

Table of Contents:
0. Page fixes
1. Text
2. Layout
3. Images
4. Search
5. Responsive
...and customize as you see fit, just keep it organized :)

Created for gen landing page at TomatoInk.com: 
http://www.tomatoink.com/expired

Naming convention prefix: ti-gen-
 
*/
/*********************************************************/

/*-- Page fixes --*/

/*-- Text --*/
.ti-gen-coupon{
	font-size:3em;
	display:inline-block;
	border:2px dashed #e67921;
	padding:.5em;
	margin:0 auto;
}

.ti-gen-intro{
	font:1.5em/1em "oleo_scriptregular","raleway",serif;
}
/*-- Layout --*/

/*-- Images --*/

/*-- Search --*/

/*-- Responsive --*/

@media only screen and (max-width: 999px) and (min-width: 768px) {

}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 479px) {

}

